.adaptive-image {
  position: relative;
}

.admi-btn {
	align-items: flex-start;
	border: solid 2px $color-primary;
	border-radius: 5px;
  color: $color-primary;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: center;

  &:hover {
    background-color: $color-primary;
    color: $white;
    text-decoration: none;
  }

  @include mquery("small") {
    padding: 10px 20px;
  }
}

.admi__note {
  align-self: center;
  border: solid 1px $black;
  color: $black;
  margin: 0 5%;
  padding: 0 10% ;
  padding-top: 4%;
  width: 90%;
  text-align: center;

  @include mquery("medium") {
    padding-top: 2%;
  }
}

.admi-require {
  display: flex;
  flex-direction: column;
  padding-top: 45px;

  @include mquery(31.25em) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
  }
}

.admi-require__cont,
.admi-steps__cont {
  font-weight: lighter;
  margin: 0 auto;

  @include mquery("medium") {
    width: 100%;
  }

  @include mquery("large")   {
    width: 960px;
  }

  @include mquery("x-large") {
    width: 1100px;
  }
}

.admi-require__item {
  align-self: center;
  background-color: $lighter-gray;
  border: solid 1px $white;
  display: flex;
  flex-direction: column;
  height: auto;
  list-style: none;
	margin: 0;
	padding: 10%;
  width: 88%;

  @include mquery(48.75em) {
    align-self: auto;
    padding: 4%;
    width: 50%;
  }
  @include mquery("medium") {
    width: 33%;
  }
}

.admi-require__item-img {
  align-self: center;
  width: 60px;

  @include mquery("small") {
    width: 70px;
  }
}

.admi-require__item-text {
  margin: 0 auto;
  margin-top: 10px;
}

.admi-require__item-list {
  list-style: none;
  padding: 0 10px;

  li::before {
    content: '\2013';
    position: absolute;
    margin-left: -15px;
  }
}

.admi-steps__cont {
  padding-top: 6%;
  width: 80%;

  h3 {
    margin-left: 4%;
  }

  @include mquery("medium") {
    margin-left: 10%;
  }
}

.admi-step__item {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 10%;

  @include mquery("medium") {
    margin: 5%;
	}
}

.admi-step__number {
	align-self: flex-start;
	background-color: $orange;
	color: $white;
  font-size: 1.5rem;
  line-height: 25px;
  font-weight: 900;
  margin: 5px 10px 0;
  padding: 10px 15px;

  @include mquery("small") {
    font-size: 2.5rem;
    padding: 20px;
  }
  @include mquery("medium") {
    font-size: 2.5rem;
    padding: 20px;
  }
}


.admi-step__info {
  align-self: flex-end;
  line-height: 25px;
  text-decoration: none;
  width: 100%;

  @include mquery("medium") {
    padding-left: 25px;
    width: 70%;
    line-height: none;
  }

  p{
    margin: 0 0 .8em;
  }
}

.banner-info {
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;

  @include mquery(90em) {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

.banner-info__message {
  color: $white;
  bottom: 35%;
  font-weight: lighter;
  position: absolute;
}

.intro__btn {
  justify-content: flex-start;
}

.panel-cetav-admission .section-call-out {
  bottom: 20vh;
}

.panel-cetav-admission .section-wide {
  padding-top: 0;
}

.panel-header {
  @include mquery("medium") {
    img {
      height: 300px;
    }
  }
}
