.panel-header {
  
  @include mquery("medium") {
    img {
      height: 300px;
    }
  }
}

.section-call-out-h {
  color: $white;
  bottom: 60%;
  font-size: $text-h2;
  left: 5%;
  position: absolute;

  @include mquery("small") {
    bottom: 60%;
    left: 12%;
  }

  @include mquery("x-large") {
    bottom: 60%;
    left: 20%;
  }
}

.panel-header_info {
  bottom: 10%;
  color: $white;
  font-weight: lighter;
  left: 5%;
  position: absolute;
  width: 80%;

  @include mquery("small") {
    bottom: 15%;
    left: 12%;
  }

  @include mquery("medium") {
    bottom: 30%;
    width: 50%;
  }

  @include mquery("medium") {
    bottom: 30%;
    left: 20%;
  }
}

.adaptive-image {
  position: relative;
}

.req {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
  @include mquery(31.25em) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }
}

.req, 
.steps {
  font-weight: lighter;
  
  @include mquery("medium") {
    width: 100%;
  }
  
  @include mquery("large")   {
    width: 960px;
  }
  
  @include mquery("x-large") {
    width: 1100px;
  }
}

.req__item {
  border: solid 1px $white;
  background-color: $lighter-gray;
  display: flex;
  flex-direction: column;
  height: auto;
  list-style: none;
	margin: 0;
	padding: 10%;
  width: 88%;

  @include mquery(48.75em) {
    height: auto;
    padding: 4%;
    width: 50%;
  }
  
  @include mquery("medium") {
    width: 33%;
  }
}

.req__img-item {
  align-self: center;
  width: 60px;

  @include mquery("small") {
    width: 70px;
  }

  @include mquery("medium") {
    width: 80px;
  }
}

.req__p-item {
  margin: 0 auto;
  margin-top: 10px; 
}

.item__list {
  list-style: none;
  padding: 0 10px;
}

.steps {
  padding-top: 6%; 
  width: 80%;

  h3 {
    margin-left: 4%;
  }

  @include mquery("medium") {
    margin-left: 10%;
  }
}

.step__item {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 5%;
  margin-bottom: 10%;
  
  @include mquery("medium") {
    margin: 5%;
	}
}

.step__number {
	align-self: flex-start;
	background-color: $orange;
	color: $white;
  font-size: 1.5rem;
  line-height: 25px;
  font-weight: 900;
  margin-top: 5px;
  padding: 10px 15px;
  
  @include mquery("small") {
    font-size: 2.5rem;
    padding: 20px;
  }

  @include mquery("medium") {
    font-size: 2.5rem;
    padding: 20px;
  }
}

.intro__btn {
  justify-content: flex-start;
}

.step__info {
  align-self: flex-end;
  line-height: 25px;
  text-decoration: none;
  width: 100%;
    
  p{
    margin: 0 0 .8em;
  }
    
  @include mquery("medium") {
    padding-left: 25px;
    width: 70%;
    line-height: none;
  }
}

.step__btn {
	align-items: flex-start;
	border: solid 2px $color-primary;
	border-radius: 5px;
  color: $color-primary;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: center;
  
  &:hover {
    background-color: $color-primary;
    color: $white;
    text-decoration: none;
  }

  @include mquery("small") {
    padding: 10px 20px;
  }

}

.admi__note {
  align-self: center;
  border: solid 1px $black;
  color: $black;
  margin: 0 5%;
  padding: 0 10% ;
  padding-top: 4%;
  width: 90%;
  text-align: center;
  
  @include mquery("medium") {
    padding-top: 2%;
  }
}
