.adaptive-image {
  position: relative;
}

.admi-btn {
	align-items: flex-start;
	border: solid 2px $color-primary;
	border-radius: 5px;
  color: $color-primary;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: center;
  transition: 0.2s;

  &:hover {
    background-color: $color-primary;
    color: $white;
    text-decoration: none;
    transition: 0.5s;
  }

  @include mquery("small") {
    padding: 10px 20px;
  }
}

.admi__note {
  align-self: center;
  border: solid 1px $black;
  color: $black;
  margin: 0 5%;
  padding: 0 10% ;
  padding-top: 4%;
  width: 90%;
  text-align: center;

  @include mquery("medium") {
    padding-top: 2%;
  }
}

.admi-require {
  @include mquery("medium") {
    max-width: $max-width;
  }
}

.admi-require-cont-list {
  display: flex;
  flex-direction: column;

  @include mquery(48.75em) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.admi-require__cont {
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: $max-width;
}

.admi-require__item {
  align-self: center;
  background-color: $lighter-gray;
  border: solid 1px $white;
  display: flex;
  flex-direction: column;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 10%;
  width: 100%;

  @include mquery(48.75em) {
    align-self: auto;
    padding: 4%;
    width: 50%;
  }
  @include mquery("medium") {
    width: 33%;
  }
}

.admi-require__item-img {
  align-self: center;
  width: 60px;

  &::before {
    content: '';
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  @include mquery("small") {
    width: 70px;
  }
}

.admi-require__item-text {
  margin: 0 auto;
  margin-top: 10px;
}

.admi-require__item-list {
  list-style: none;
  padding: 0 10px;

  li::before {
    content: '\2013';
    position: absolute;
    margin-left: -15px;
  }
}

.admi-step__cont {
  font-weight: lighter;
  margin: 0 auto;
  max-width: $max-width;
}

.admi-step h3 {
  margin-bottom: 1em;
  margin-top: 5%;
}

.admi-step__item {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 5% 2% 10%;

  @include mquery("medium") {
    margin: 5% 2%;
  }
}

.admi-step__number {
  align-self: flex-start;
  background-color: $orange;
  color: $white;
  font-size: 1.5rem;
  line-height: 25px;
  font-weight: 900;
  margin: 5px 10px 0;
  padding: 10px 15px;

  @include mquery("small") {
    font-size: 2.5rem;
    padding: 20px;
  }
  @include mquery("medium") {
    font-size: 2.5rem;
    padding: 20px;
  }
}

.admi-intro__btn {
  justify-content: flex-start;
}

.admi-step__info {
  align-self: flex-end;
  line-height: 25px;
  text-decoration: none;
  width: 100%;

  @include mquery("medium") {
    padding-left: 25px;
    width: 70%;
    line-height: none;
  }

  p{
    margin: 0 0 .8em;
  }
}

.banner--admi {
  background-image: url('../img/banner-admision.jpg');
  background-position: 25% 47%;
}

.banner__info {
  color: $white;
  font-weight: lighter;
  margin: 0 auto;
  max-width: $max-width;
  position: absolute;
  z-index: 2;

  @include mquery(90em) {
    padding: 0;
  }
}

.intro__btn {
  justify-content: flex-start;
}

.panel-cetav-admission {
  h3 {
    color: $black;
    padding-top: 67px;
  }
  .section-wide {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
    padding-top: 0;
  }
}
