.page-cetav-preguntas {
  .banner {
    align-items: center;
    background-image: url('../img/banner-preguntas.jpg');
    background-position: 25% 47%;
    background-size: cover;
    display: flex;
    height: 350px;
    justify-content: center;
    position: relative;

    &:before {
      content: '';
      background-color: rgba(0,0,0,.5);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .banner__cont {
    max-width: $max-width;
    padding-left: 1em;

    @include mquery(48em) {
      padding-left: 0;
      width: 97%;
    }
  }
  .banner__text {
    color: $white;
    position: relative;
    z-index: 2;
  }
  .section-wide {
    padding-top: 0;
  }
}
