.cont-carreers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.career{
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 10px auto;
  max-width: 1400px;
  transition: all .5s;
  width: 100%;
  @media (min-width: $breakpoint-md) {
    &:hover{
      background-size: 125vw;
      transition: all 1s;
    }
  }

  @media (min-width: 800px) {
    flex-direction: row;
  }
  @media (min-width: $breakpoint-lg) {
    height: 300px;
  }
  a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
}

.career--animation{
  background-image: url("../img/background_3d.jpg");
  @media (min-width: 800px) {
    justify-content: flex-end;
  }
}
.career--web{
  background-image: url("../img/background_web.jpg");
  @media (min-width: 800px) {
    justify-content: flex-start;
  }
}
.career--post{
  background-image: url("../img/background_post.jpg");
  @media (min-width: 800px) {
    justify-content: flex-end;
  }
}

.career__title{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  @media (min-width: 800px) {
    text-align: left;
  }
}

.career__info{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2em;
  width: 100%;
  @media (min-width: 800px) {
    align-items: flex-start;
    width: 30%;
  }
}
