header .section-wide {
  margin-top: 0;
}

nav[role="navigation"] {
  @media (max-width: 900px) {
    height: 100vh;
    left: -24px;
    padding: 1em 1.5em 0;
    position: absolute;
    top: 50px;
    width: 110%;
  }
}

nav[role="navigation"] .expanded .menu {
  top: 45px;
  left: -20px;

  a:hover {
    font-weight: normal;
  }
}

nav[role="navigation"] .menu .active-trail {
  @media (min-width: $breakpoint-lg) {
    &:hover {
      font-weight: bold;
      text-shadow: none;
    }
  }
}

nav[role="navigation"] .menu {
  a:hover,
  li:hover span  {
    border-bottom: 3px solid #292929;
    font-weight: 300;

    @media (min-width: $breakpoint-lg) {
      border-bottom: 3px solid #fff;
      text-shadow: 1px 0px #fff;
    }
  }
  a:active,
  li:active span {
    border-bottom: 3px solid #fff;
    font-weight: 300;
    text-shadow: 1px 0px #fff;
  }

  span {
    border-bottom: 3px solid #292929;
    display: inline-block;
    font-weight: 300;
  }
}

.back-pll {
  right: 0;
  top: 10px;

  @media (min-width: $breakpoint-lg) {
    right: 20px;
    top: 0;

    &:hover {
      font-weight: 400;
    }
  }
  @media (min-width: 1700px) {
    padding-right: 0;
    right: 0;
  }

  &:active {
    font-weight: 400;
  }
}

.head-nav .grid-full-limit .menu {
  font-weight: 300;
  justify-content: flex-end;
  margin-right: 20%;
  margin-top: 10px;

  @media (min-width: $breakpoint-lg) {
    margin-right: 22%;
    margin-top: 0;
  }
  @media (min-width: 1400px) {
    margin-right: 18%;
  }
  @media (min-width: 1550px) {
    margin-right: 16%;
  }
}

.cont-burger {
  margin: 17px 0 17px 30px;

	.on {
		transform: translateY(-5px);
  }
}

.cont-burger .menu-toggle {
	display: flex;
	flex-direction: column;
  justify-content: space-around;
	margin-top: 0;

	div {
		margin: 0;
	}
}

.header {
	background-color: $color-primary;
  height: 65px;
  margin: 0 auto;
  max-width: 94%;

  @media (min-width: $breakpoint-md) {
		max-width: 96%;
  }
	@media (min-width: $breakpoint-lg) {
    height: 45px;
    max-width: 97%;
  }
  @media (min-width: 1550px) {
    max-width: 1400px;
  }
}

.header__logo {
	height: 30px;
	top: 20px;
	position: absolute;
	width: 65px;
	z-index: 1;

	@media (min-width: $breakpoint-lg) {
		top: 8px;
  }

	.icon-cetav {
		height: auto;
		width: 65px;
	}
}
