.hero-banner__cont-desc {
  display: flex;
  font-weight: 300;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  margin: 0 auto;
  max-width: 90%;
  position: absolute;
  width: 100%;

  @media (min-width: 1550px) {
    max-width: 1400px;
  }
}

.hero-banner__cont-reel {
  display: flex;
  justify-content: center;
  max-height: 450px;
  max-width: 95%;
  overflow: hidden;
  transition: 1s;
  width: 100%;

  &:hover{
    transition-delay: .2s;
    transition-duration: .5s;
    transition-property: opacity;
    transition-timing-function: ease;
  }
  @media (min-width: $breakpoint-lg) {
    justify-content: flex-end;
  }
  @media (min-width: $breakpoint-xl) {
    max-width: 90%;
  }
  @media (min-width: 1550px) {
    max-width: 95%;
  }
}

.hero-banner {
  background-image: url("../img/trianglify.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  justify-content: center;
  max-height: 450px;
  overflow: hidden;
  width: 100%;
}

.hero-banner__reel {
  background-image: url("../img/heroBanner.jpg");
  background-size: cover;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  display: flex;
  padding-bottom: 48%;
  position: relative;
  width: 85%;

  @media (min-width: $breakpoint-lg) {
    padding-bottom: 40%;
    width: 70%;
  }
  @media (min-width: 1550px) {
    right: 0;
    top: -10vh;
    width: 60%;
  }
}

.hero-banner__desc {
  color: $white;
  display: none;
  width: 30%;

  @media (min-width: $breakpoint-lg) {
    display: block;
  }
}

.hero-banner__title {
  color: $white;
  display: none;
  font-size: $text-h2;

  @media (min-width: $breakpoint-lg) {
    display: block;
  }
}


////////// Modal //////////

.reel{
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}

.btn__modal--open{
  background-color: transparent;
  border: solid 2px #fff;
  border-radius: 50%;
  height: 50px;
  // justify-content: center;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 50px;
}

.banner__modal{
  background-color: #292929bb;
  margin: 0 auto;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  top: 50%;
  visibility: hidden;
  width: 100vw;
  z-index: 100;
}

.modal--open{
  opacity: 1;
  visibility: visible;
}

.btn__modal--close{
  background-color: orange;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
  height: 40px;
  left: 80%;
  position: absolute;
  top: 10%;
  text-align: center;
  text-decoration: none;
  width: 40px;
  z-index: 101;
}
