.video-reel {
  height: 100%;
  width: 100%;
}

.hero-banner__video {
  height: 350px;
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.hero-banner__btn-open {
  background-color: transparent;
  border: solid 2px $white;
  border-radius: 50%;
  height: 60px;
  left: 45%;
  position: absolute;
  top: 40%;
  width: 60px;

  @include mquery("medium") {
    left: 45%;
    top: 40%;  // 20% apróx
  }

  @include mquery("large") {
    top: 45%;
  }

  &::after {
    border-bottom: 15px solid transparent;
    border-left: 25px solid white;
    border-top: 15px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: 4px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    transition: transform .2s ease;
    transition-delay:.3s;
    width: 0;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.342);
  }
}

.hero-banner__btn-close {
  background-color: transparent;
  border: none;
  color: $light-blue;
  font-size: 1.4rem;
  left: 85%;
  position: absolute;
  text-decoration: none;
  top: 2%;
}

.hero-banner__reel-show{
  background-color: rgba(0, 0, 0, .76);
  height: 450px;
  left: 0;
  transition-duration: 2s;
  top: 0;
  transition-timing-function: ease-out; 
  transition: all .25s ease;
  visibility: visible;
  z-index: 2;

  @include mquery("medium") {
    width: 100%;
  } 
}
