.hero-banner {
  display: flex;
  flex-direction: column;

  @include mquery("medium") {
    background-color: $orange;
    background-image: url(“../img/heroBanner.jpg”);
    background-size: cover;
    flex-direction: row;
  }
}

.hero-banner__reel {
  background-color: #e0e0e065;
  height: 300px;
  position: relative;
  width: 100%;

  @include mquery("medium") {
    background-color: $orange;
    flex-direction: row;
    order: 2;
  }
}

.hero-banner__video {
  display: none;
  height: 350px;
  position: relative;
  width: 100%;
}

.hero-banner__cont-desc{
  margin-top: 4%;
  padding: 5%;
  width: 90%;

  @include mquery("small") {
    margin-top: 0;
    order: 1;
  }

  @include mquery("medium") {
    padding-left: 11%;
  }
}

.video-reel {
  height: 100%;
  width: 100%;
}

.video__btn-open {
  height: 60px;
  left: 45%;
  position: absolute;
  top: 40%;
  width: 60px;

  @include mquery("medium") {
    left: 48%;
    top: 40%;  // 20% apróx
  }

  @include mquery("large") {
    left: 45%;
    top: 50%; 
  }
}

.video-reel--play {
  background-color: transparent;

  &::before {
    background-color: #000;
    border: 2px solid white;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%;
    opacity: .5;
    position: absolute;
    width: 100%;
  }

  &::after {
    border-bottom: 15px solid transparent;
    border-left: 25px solid white;
    border-top: 15px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: 4px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    transition: transform .2s ease;
    transition-delay:.3s;
    width: 0;
  }

  &:hover {

    &::before {
      background-color: #e0e0e065;
    }
  }
}

.video-reel--stop {
  color: $orange;
  font-size: 32px;
  font-weight: 900;
  padding: 5px;
}

.video__btn-close {
  left: 90%;
  position: absolute;
  top: 5%;
  
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}

.hero-banner__reel-show{
  display: block;
  background-color: rgba(0, 0, 0, .76);
  height: 400px;
  transition-property: opacity width height background-color;
  transition-duration: 2s;
  transition-timing-function: ease-out; 

  @include mquery("medium") {
    width: 100%;
    height: 400px;
  }
} 

.hidden {
  display: none;
}