.intro {
  display: flex;
  margin: 60px auto 0;
  max-width: 90%;
  flex-direction: column;

  @include mquery("medium") {
    flex-direction: row;
  }
  @include mquery(1550px) {
    max-width: 1200px;
  }
}

.intro__cont-intro {
  width: 100%;

  @include mquery("medium") {
    width: 50%;
  }
}

.intro__cont-image {
  align-items: center;
  display: none;
  justify-content: center;
  margin-top: 45px;
  width: 100%;

  @include mquery("small") {
    display: flex;
  }
  @include mquery("medium") {
    justify-content: flex-end;
    margin-top: 0;
    width: 50%;
  }
}

.intro__text {
  font-weight: 100;
  margin-top: 20px;
}

.intro__text + .intro__text {
  margin-top: 0;
}

.intro__title {
  font-family: $contrast-font;
  font-weight: bolder;
  margin-bottom: 0;
  font-size: $text-h3;
  color: black;

  @include mquery("small") {
    font-size: $text-h2;
  }
}

.intro__image {
  box-shadow: 2px 2px 10px $shadow;
  width: 80%;
}
