@media (min-width: $breakpoint-md) {
  .cont-news .news-layout--minor:hover{
    transition-timing-function: cubic-bezier(0.6, -0.93, 0.63, 2.42);
    transform: translate3d(0,-5px,0);
    transition: transform 300ms ease-out;
  }
}

.cont-news {
  margin-top: 0;
  padding: 0;
  p + p {
    display: none;
  }

  p {
    margin-bottom: 0;
  }

  ul, iframe {
    display: none;
  }

  .date-display-single {
    color: rgb(131, 131, 131);
    font-size: .8rem;
    margin-bottom: 15px;
  }

  .field-content a {
    color: black;
    font-weight: 900;
    display: block;
    margin: 15px 0;
    &:hover {
      text-decoration: none;
    }
  }

  .news-layout--minor {
    background-color: #ececec;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
    height: auto;
    margin: 3% auto;
    padding: 1.5% 3% 3% 3%;
    transition: transform 300ms ease-in-out;
    width: 90%;
    p {
      font-weight: 100;
    }
    @media (min-width: $breakpoint-lg) {
      margin: 1.5%;
      padding: 1.5% 3% 3% 3%;
      width: 30%;
    }
  }

  .pane-title, .views-label-title, .views-label-body, .views-label-view-node, .views-label-field-fecha  {
    display: none;
  }
  .view-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
    }
  }
}
