.tercer-eje {
  p + p {
    padding-top: 0;
  }
}

.tercer-eje__cont {
  display: flex;
  flex-wrap: wrap;
  margin: 25px auto 77px;
  max-width: 1200px;
}

.tercer-eje__cont-course {
  width: 60%;
}

.tercer-eje__course {
  align-items: center;
  background-size: cover;
  display: flex;
  height: 250px;
  justify-content: center;
  margin: 2.5% auto;
  width: 90%;

  @media (min-width: $breakpoint-md) {
    margin: 0;
    width: 50%;
  }

  &:hover {
    h4 {
      display: none;
      opacity: 0;
    }
    p {
      display: block;
    }
  }

  h4 {
    color: $white;
    text-align: center;
    font-size: $text-h3;
    padding: 0;
  }
  p {
    color: $white;
    display: none;
    padding: 0;
  }
}

.tercer-eje__course--cnv {
  background-image: url("../img/conversable.png");
}

.tercer-eje__course--dt {
  background-image: url("../img/design_thinking.png");
}

.tercer-eje__course--empr {
  background-image: url("../img/emprendimiento.png");
}

.tercer-eje__course--ingles {
  background-image: url("../img/ingles.png");
}
