.tercer-eje {
  p + p {
    padding-top: 0;
  }
}

.tercer-eje__cont {
  display: flex;
  flex-wrap: wrap;
  margin: 25px auto 77px;
}

.tercer-eje__cont-course {
  width: 80%;

  @include mquery("medium") {
    width: 60%;
  }
}

.tercer-eje__course {
  background-size: cover;
  height: 250px;
  margin: 2.5% auto;
  width: 100%;

  @include mquery("small") {
    margin: 0;
    width: 50%;

    &:hover {
      h4 {
        display: none;
        opacity: 0;
      }
      p {
        display: block;
      }
    }
  }

  &:active {
    h4 {
      display: none;
      opacity: 0;
    }
    p {
      display: block;
    }
  }

  h4 {
    color: $white;
    text-align: center;
    font-size: $text-h3;
    padding: 0;
  }
  p {
    color: $white;
    display: none;
    padding: 0;
  }
}

.tercer-eje__course--cnv {
  background-image: url("../img/conversable.png");
}

.tercer-eje__course--dt {
  background-image: url("../img/design_thinking.jpg");
}

.tercer-eje__course--empr {
  background-image: url("../img/emprendimiento.png");
}

.tercer-eje__course--ingles {
  background-image: url("../img/ingles.png");
}

.tercer-eje__dark {
  align-items: center;
  background-color: $shadow;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}


.tercer-eje__title,
.tercer-eje__desc {
  max-width: $max-with-content;
}

.tercer-eje__title {
  font-size: $text-h4;

  @include mquery("medium") {
    font-size: $text-h3;
  }
}
