//
// Buttons
//
button {
    @include button(red, red, red); //$color-border-type, $color-hover-type, $color-hover-background
    transition: all 0.2s ease-in-out;
}

// Buttons Careers
.btn-admision a,
.btn-download,
.inscription-button {
    @include button($light-blue, $light-blue, $white);
    display: block;
    margin: 25px auto;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 250px;

    &:hover {
        text-decoration: none;
    }
}

.btn-download {
    cursor: pointer;
    position: relative;

    a {
        display: block;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        text-indent: 100%;
        top: 0;
        width: 100%;
        white-space: nowrap;
    }
    .file {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.btn-download img {
    display: none;
}

//Button Login
.container-account {
    .form-actions {
        margin: 15px auto;
        text-align: center;
    }
    .form-submit {
        @include button($orange, $orange, $white);
        transform-style: preserve-3d;
        transition: transform 1s;
        padding: 8px 18px;
    }
}
