//
// Buttons
//
button {
    @include button(red, red, red); //$color-border-type, $color-hover-type, $color-hover-background
    transition: all 0.2s ease-in-out;
}

// Buttons Careers
.btn-admision a,
.btn-download {
    @include button($animation-color, $animation-color, $white);
    display: block;
    margin: 25px auto;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 250px;

    &:hover {
        text-decoration: none;
    }
}

.animacion-3d .btn-admision a,
.animacion-3d .btn-download {
    @include button($animation-color, $animation-color, $white);
}

.diseno-desarrollo-web .btn-admision a,
.diseno-desarrollo-web .btn-download {
    @include button($ddw-color, $ddw-color, $white);
}

.post-produccion .btn-admision a,
.post-produccion .btn-download {
    @include button($post-color, $post-color, $white);
}

.btn-direction {
    @include button($white, $white, $ligth-gray);
    @include font-size(14);
    background: transparent;
    display: inline-block;
    height: 100%;
    margin: 25px auto;
    padding: 12px;
    text-align: center;
    width: 45%;

    @include mquery("small") {
        width: 35%;
    }

    &:hover {
        text-decoration: none;
    }
}

.btn-download {
    cursor: pointer;
    position: relative;

    a {
        display: block;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        text-indent: 100%;
        top: 0;
        width: 100%;
        white-space: nowrap;
    }
    .file {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.btn-download img {
    display: none;
}


.inscription-button {
    @include button($light-blue, $light-blue, $white);
    display: block;
    margin: 25px auto;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 250px;

    &:hover {
        text-decoration: none;
    }
}

//Button Login
.container-account {
    .form-actions {
        margin: 15px auto;
        text-align: center;
    }
    .form-submit {
        @include button($orange, $orange, $white);
        transform-style: preserve-3d;
        transition: transform 1s;
        padding: 8px 18px;
    }
}

//Bot칩n anuario
.btn-yearbook a {
    @include button($gray, $gray, $white);
    float: left;
    width: 180px;
    &:hover {
        text-decoration: none;
    }
}

// boton leer m치s, texto inicial
.course-description a {
    @include button($gray, $gray, $white)
    @include font-size(14);
    border-radius: 6px;
    padding: 5px 8px;
    text-decoration: none;
    transition: all 0.3s;
}

// boton m치s informaci칩n, cursos libres
.text-course-description .field-name-field-link-view-more {
    display: inline-block;
}

.text-course-description a {
    @include button($light-blue, $light-blue, $white)
    @include font-size(15);
    border-radius: 6px;
    display: inline-block;
    padding: 5px 8px;

    &:hover {
        text-decoration: none;
    }
 }

// boton de cada curso libre disponible
.btn-course a {
    @include button($light-blue, $light-blue, $white)
    @include font-size(14);
    border-radius: 6px;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    margin-top: 10px;

    @include mquery("large") {
        position: absolute;
        right: 0;
        top: 12px;
    }

    &:hover {
        transition: all 0.3s;
    }
}
