button,
.btn {
    @include btn;
}

// Buttons Careers
.animacion-3d .btn-admision a,
.animacion-3d .btn-cta,
.animacion-3d .btn-download {
    @include btn($white, $animation-color, $animation-color);
}

.diseno-desarrollo-web .btn-admision a,
.diseno-desarrollo-web .btn-cta,
.diseno-desarrollo-web .btn-download {
    @include btn($white, $ddw-color, $ddw-color);
}

.post-produccion .btn-admision a,
.post-produccion .btn-cta,
.post-produccion .btn-download {
    @include btn($white, $post-color, $post-color);
}

.btn-admision a,
.btn-download {
    display: block !important;
    margin: 30px auto 0;
    max-width: 230px;
}

.btn-cta {
    margin: 25px auto;
    padding: 15px 30px !important;
}

.btn-direction {
    @include btn-transparent;
    font-size: $text-small;
    margin-right: 5px;
}

.btn-download {
    cursor: pointer;
    position: relative;

    a {
        display: block;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        text-indent: 100%;
        top: 0;
        width: 100%;
        white-space: nowrap;
    }
    .file {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.btn-download img {
    display: none;
}

.inscription-button {
    @include btn-blue;
    display: block;
    margin: 25px auto;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 250px;
}

//Button Login
.container-account {
    .form-actions {
        margin: 15px auto;
        text-align: center;
    }
    .form-submit {
        @include btn-orange;
    }
}

//Botón anuario
.btn-yearbook a {
    @include btn-orange;
    float: left;

    &:hover {
        text-decoration: none;
    }
}

.course-description a {
    @include btn;
    margin-top: 20px;
    padding: 15px 30px;
}

// boton más información, cursos libres
.text-course-description .field-name-field-link-view-more {
    display: inline-block;
}

.text-course-description .intro-action {
    @include btn-blue;
    margin-top: 20px;
    padding: 15px 30px;
 }

// boton de cada curso libre disponible
.btn-course a {
    @include btn-blue;
    font-size: .833em;

    @include mquery("large") {
        position: absolute;
        right: 0;
        top: 20px;
    }
}

.see-profile  {
    a {
        @include btn;
        margin: 0 auto;
        text-align: center;
    }
}

.btn-news {
    @include btn(transparent, $orange, $orange);
    cursor: pointer;
    margin-top: $space-x-small;
    padding: 0 1em;
}

.btn-categories {
    text-align: center;

    @include mquery("medium") {
        text-align: left;
    }
    
    a {
        @include btn($gray-lighter, $black, $orange, $white);
        border: none;

        &:hover {
            border: none;
            font-weight: 300;
        }
    }
}

// boton general sub carreras 

.btn--sub-career {    
    border-radius: 3px;
    color: $white;
    font-weight: regular;
    margin: 0 auto;
    padding: 15px 22px;
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
        text-decoration: none;
    }
}

.btn--commercial-image {
    background-color: $commercial-image-color;
    position: relative;
}