/* Icons-font*/
@font-face {
    font-family: 'cetav';
    src: url('../fonts/cetav.eot');
    src: url('../fonts/cetav.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cetav.woff') format('woff'),
         url('../fonts/cetav.ttf') format('truetype'),
         url('../fonts/cetav.svg#cetav') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
    display: inline-block;
    font-family: 'cetav';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.icon-behance:before{content:'\0041';}
.icon-dribbble:before{content:'\0042';}
.icon-twitter:before{color: #17b3e8; content:'\0043';}
.icon-github:before{color:#211F20; content:'\0044';}
.icon-link:before{color:#211F20; content:'\0045';}
.icon-linkedin:before{color:#0077B5; content:'\0046';}
.icon-vimeo:before{color:#17b3e8; content:'\0047';}
.icon-face:before{color:#4966a7; content:'\0048';}
.icon-send:before{content:'\0049';}
.icon-cellphone:before{content:'\004a';}
.icon-graduate:before{content:'\004b';}
.icon-clock:before{content:'\004c';}

// Styles for social-icons
.social-icon {
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    margin: 0 8px;
    position: relative;

    a {
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        text-indent: 100%;
        top: 0;
        width: 100%;
        white-space: nowrap;
    }

    .facebook{
        right: 0;
    }

    .vimeo{
        left: 0;
    }
}
