.line-grid {
    padding-top: 50px;

    @include mquery("medium") {
        column-count: 2;
    }
}

.split-list {
    ul {
        @include bullet-color($light-blue, $white);
    }
    li {
        margin-bottom: 0;
        margin-top: 10px;

        a {
            color: $white;
        }
    }
}
