.line-grid {
    clear: both;
    padding-top: 50px;

    li {
        color: #00c9ed;
    }
}

//Cambiar la clase "requirements-admission-wrapper",
//ponerle una clase general a las listas y reemplazarla aquí.
.requirements-admission-wrapper {
    background: $blue-dark;
    li {
        @include font-size(14);
        color: $white;
        line-height: 20px;
        list-style: none;
        margin: 0 10px 10px 20px;
        &:before {
            color: $orange;
            content: "• ";
            float: left;
            margin-right: 11px;
        }
    }
}
