.line-grid {
    clear: both;
    padding-top: 50px;

    @include mquery("medium") {
        column-count: 2;
    }

    li {
        color: #00c9ed;
    }
}

.requirements-admission-wrapper {
    background: $blue-dark;
}

.split-list {
    li {
        color: $white;
        list-style: none;
        margin-bottom: 10px;

        a {
            color: $white;
        }
        &:before {
            color: $light-blue;
            content: "• ";
            float: left;
            margin-right: 11px;
        }
    }
}

 //estilos para las listas de institución
.panel-cetav-institucion ul {
    list-style: none;

    li {
        &:before {
            content: "• ";
        }
    }
}
