.video-modal,
.video-modal-employability {
    bottom: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    a {
        bottom: 0;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
    }

    img {
        width: auto;
    }
}

.video-modal {
    @include mquery(700px) { 
        width: 50%;

        &:hover {
            background-color: rgba(128, 128, 128, .5);
            opacity: .3;  
        }
    }
}

.video-modal-container {
    position: relative;
}