//
// Tables
//

table {
    @include font-size(16);
    width: 100%;

    thead {
        color: $main-color;
    }
    td {
        background-color: $ligth-gray;
        padding: 25px;
        width: 30%;
    }
    tr {
        text-align: center;
    }
}
