.bread-crumbs {
  display: none;
  margin-top: 25px;

  @include mquery("small") {
    display: block;
    margin-top: 42px;
  }
}

.bread-crumbs--admi {
  margin-top: 0;

  .bread-crumbs__item--first {
    background-color: #de6e00;
  }
  .bread-crumbs__item--second {
    background: rgba(#de6e00, 0.8);
    clip-path: polygon(85% 0, 95% 50%, 85% 100%, 11% 100%, 16% 50%, 11% 0);
    padding: 5px 30px 5px 40px;
    transform: translateX(-44px);
  }
}

.bread-crumbs--3d {
  .bread-crumbs__item--first {
    background-color: $color-carreer_animacion;
  }
  .bread-crumbs__item--second {
    background: rgba($color-carreer_animacion, 0.8);
  }
  .bread-crumbs__item--third {
    background: rgba($color-carreer_animacion, 0.6);
    clip-path: polygon(85% 0, 95% 50%, 85% 100%, 10% 100%, 18% 50%, 10% 0);
    padding: 5px 30px 5px 40px;
    transform: translateX(-80px);
  }
}

.bread-crumbs__cont {
  list-style: none;
  margin-bottom: 0;
}

.bread-crumbs--dic {
  .bread-crumbs__item--first {
    background-color: $color-carreer_dic;
  }
  .bread-crumbs__item--second {
    background: rgba($color-carreer_dic, 0.8);
  }
  .bread-crumbs__item--third {
    background: rgba($color-carreer_dic, 0.6);
    clip-path: polygon(85% 0, 95% 50%, 85% 100%, 9% 100%, 14% 50%, 9% 0);
    padding: 5px 35px 5px 55px;
    -webkit-transform: translateX(-81px);
    transform: translateX(-88px);
  }
}

.bread-crumbs__item {
  color: $white;
  display: inline-block;
  font-size: $text-xsmall;
}

.bread-crumbs__item--first {
  clip-path: polygon(0% 0%, 87% 0, 99% 50%, 87% 100%, 0% 100%);
  padding: 5px 10px 5px 5px;

  @include mquery("small") {
    padding: 5px 20px 5px 10px;
  }
}

.bread-crumbs__item--second {
  clip-path: polygon(85% 0, 95% 50%, 85% 100%, 11% 100%, 17% 50%, 11% 0);
  padding: 5px 20px 5px 30px;
  margin-left: 13px;
  transform: translateX(-40px);
}

.bread-crumbs--preg {
  .bread-crumbs__item--first {
    background-color: #de6e00;
  }
  .bread-crumbs__item--second {
    background: rgba(#de6e00, 0.8);
    clip-path: polygon(85% 0, 95% 50%, 85% 100%, 11% 100%, 16% 50%, 11% 0);
    padding: 5px 25px 5px 40px;
    transform: translateX(-44px);
  }
}

.bread-crumbs--post {
  .bread-crumbs__item--first {
    background-color: $color-carreer_post;
  }
  .bread-crumbs__item--second {
    background: rgba($color-carreer_post, 0.8);
  }
  .bread-crumbs__item--third {
    background: rgba($color-carreer_post, 0.6);
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 4% 100%, 15% 50%, 4% 0);
    padding: 5px 15px 5px 26px;
    transform: translateX(-67px);
  }
}

.bread-crumbs--web {
  .bread-crumbs__item--first {
    background-color: $color-carreer_web;
  }
  .bread-crumbs__item--second {
    background: rgba($color-carreer_web, 0.8);
  }
  .bread-crumbs__item--third {
    background: rgba($color-carreer_web, 0.6);
    clip-path: polygon(85% 0, 95% 50%, 85% 100%, 10% 100%, 17% 50%, 10% 0);
    padding: 5px 30px 5px 40px;
    transform: translateX(-82px);
  }
}
