.pane-bundle-steps-admision {
    text-align: center;

    h4 {
        color: $gray;
        padding: 0 0 3%;
    }
    p {
        height: 100px;
        margin: 20px;
        text-align: center;
    }
    span {
        border: 2px solid $ligth-gray;
        border-radius: 100px;
        color: $ligth-gray;
        font-size: 35px;
        margin: 20px;
        padding:  5px 18px;
    }
    .paragraphs-item-steps {
        padding: 8% 2% 2%;

        @include mquery("base") {
            border-bottom: 1px solid $ligth-gray;

            &:nth-child(6) {
                border-bottom: none;
            }
        }
        @include mquery("small") {

            &:nth-child(1) {
                border-right: 1px solid $ligth-gray;
            }
            &:nth-child(3) {
                border-right: 1px solid $ligth-gray;
            }
            &:nth-child(5) {
                border-bottom: none;
                border-right: 1px solid $ligth-gray;
            }
            &:nth-child(6) {
                border-bottom: none;
            }
        }
        @include mquery("medium") {

            &:nth-child(2) {
                border-right: 1px solid $ligth-gray;
            }
            &:nth-child(3) {
                border-right: none;
            }
            &:nth-child(4) {
                border-bottom: none;
                border-right: 1px solid $ligth-gray;
            }
        }
    }
}
