.career-program .paragraphs-item-programas-carreras {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(194, 190, 189, .25);
    height: 330px;
    margin: 30px 6px;

    @include mquery("small") {
        @include span-columns(6);
        @include omega();
    }

    @include mquery("medium") {
        @include span-columns(4);
        margin: 0 13px 13px;
        @include omega();
    }

    h4 {
        color: $white;
        margin-top: 0;
        padding: 15px;
    }
    li {
        font-size: $text-small;
        margin-bottom: 10px;
    }
    ul {
        list-style: none;
        padding: 25px;
    }
}

.animacion-3d .paragraphs-item-programas-carreras h4 {
    background-color: $animation-color;
}
.diseno-desarrollo-web .paragraphs-item-programas-carreras h4 {
    background-color: $ddw-color;
}

.post-produccion .paragraphs-item-programas-carreras h4 {
    background-color: $post-color;
}

.imagen-comercial .paragraphs-item-programas-carreras h4 {
    background-color: $commercial-image-color;
}

.section-skills {
    p {
        color: $white;

        @include mquery("medium") {
            float: right;
        }
    }
}

.pane-node-field-titulo-skills-carreras {
    margin-bottom: 2rem;
    
    @include mquery("medium") {
        width: 60%;
    }

    h4 {
        color: $light-blue;
        font-size: $text-h3;
        margin-top: 0;
    }
}

.pane-node-field-cuerpo-skills-carreras {
    @include mquery("medium") {
        width: 60%;
    }
}

.pane-node-field-skills-carrera {
    clear: both;
}

.cta-register-h {
    font-size: $text-h3;
    text-align: center;
}

.animacion-3d .cta-register-h {
    color: $animation-color;
}

.diseno-desarrollo-web .cta-register-h {
    color: $ddw-color;
}

.post-produccion .cta-register-h {
    color: $post-color;
}

.imagen-comercial .cta-register-h {
    color: $commercial-image-color;
}

.animacion-3d .btn-career a,
.animacion-3d a.btn-career {
    @include btn($white, $animation-color, $animation-color, $white);
}

.diseno-desarrollo-web .btn-career a,
.diseno-desarrollo-web a.btn-career {
    @include btn($white, $ddw-color, $ddw-color, $white);
}

.post-produccion .btn-career a,
.post-produccion a.btn-career {
    @include btn($white, $post-color, $post-color, $white);
}

.imagen-comercial .btn-career a,
.imagen-comercial a.btn-career {
    @include btn($white, $commercial-image-color, $commercial-image-color, $white);
}

.btn-career {
    text-align: center;
}

.cta-admision {
    margin: 25px auto;
}