.career-program .paragraphs-item-programas-carreras {
    background-color: $white;
    box-shadow: 2px 2px 10px $shadow;
    height: auto;
    margin: 0 auto 30px;
    width: 100%;

    @include mquery("small") {
      margin-left: 0;
      margin-right: 4%;
      width: 46%;
    }
    @include mquery("medium") {
      margin-right: 3.3%;
      width: 30%;
    }

    h4 {
        color: $white;
        margin-top: 0;
        padding: 15px;
        text-align: center;
    }
    li {
        font-size: $text-small;
        margin-bottom: 10px;
    }
    ul {
        list-style: none;
        margin: 0 25px;
        padding: 20px 25px 0 35px;
    }
}

.imagen-comercial .paragraphs-item-programas-carreras {
    @include mquery("medium") {
        @include omega();
        margin-right: 2%;
        width: 48%;
    }
}

.imagen-comercial .panel-right-column,
.imagen-comercial .panel-left-column {
    @include mquery("large") {
        display: block;
        width: 100%;
    }
}

.animacion-3d .paragraphs-item-programas-carreras h4 {
    background-color: $animation-color;
}
.diseno-desarrollo-web .paragraphs-item-programas-carreras h4 {
    background-color: $ddw-color;
}

.post-produccion .paragraphs-item-programas-carreras h4 {
    background-color: $post-color;
}

.imagen-comercial .paragraphs-item-programas-carreras h4 {
    background-color: $commercial-image-color;
}

.section-skills {
    p {
        color: $white;

        @include mquery("medium") {
            float: right;
        }
    }
}

.pane-node-field-titulo-skills-carreras {
    margin-bottom: 0;
    width: 100%;

    h4 {
      color: $black;
      font-size: $text-h4;
      margin-top: 0;

      @include mquery("medium") {
        font-size: $text-h3;
      }
    }
}

.pane-node-field-cuerpo-skills-carreras {
  width: 100%;
}

.pane-node-field-skills-carrera {
    clear: both;
}

.cta-register-h {
    font-size: $text-h3;
    text-align: center;
}

.animacion-3d .cta-register-h {
    color: $animation-color;
}

.diseno-desarrollo-web .cta-register-h {
    color: $ddw-color;
}

.post-produccion .cta-register-h {
    color: $post-color;
}

.imagen-comercial .cta-register-h {
    color: $commercial-image-color;
}

.animacion-3d .btn-career a,
.animacion-3d a.btn-career {
    @include btn($white, $animation-color, $animation-color, $white);
}

.diseno-desarrollo-web .btn-career a,
.diseno-desarrollo-web a.btn-career {
    @include btn($white, $ddw-color, $ddw-color, $white);
}

.post-produccion .btn-career a,
.post-produccion a.btn-career {
    @include btn($white, $post-color, $post-color, $white);
}

.imagen-comercial .btn-career a,
.imagen-comercial a.btn-career {
    @include btn($white, $commercial-image-color, $commercial-image-color, $white);
}

.btn-career {
    text-align: center;
}

.cta-admision {
    margin: 25px auto;
}

// Estos son reglas nuevas
// integrar con lo anterior

.cont-careers {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.career {
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100vw;
	display: flex;
	flex-direction: column;
	height: 200px;
	margin: 10px auto;
	max-width: $max-width;
	transition: all .5s;
  width: 100%;

	@include mquery(48em) {
		&:hover{
      background-size: 125vw;
      transition: all 1s;
		}
  }
  @include mquery(48em) {
		flex-direction: row;
	}
	@include mquery("medium") {
		height: 300px;
  }

	a {
		color: $white;
		cursor: pointer;
		text-decoration: none;
	}
}

.career--animation {
  background-image: url("../img/background_3d.jpg");

	@include mquery(48em) {
		justify-content: flex-end;
	}
}

.career--web {
  background-image: url("../img/background_web.jpg");

	@include mquery(48em) {
		justify-content: flex-start;
	}
}

.career--post {
  background-image: url("../img/background_post.jpg");

	@include mquery(48em) {
		justify-content: flex-end;
	}
}

.career__info {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 2em;
  width: 100%;

	@include mquery(48em) {
		align-items: flex-start;
    width: 40%;
  }
  @include mquery("medium") {
    width: 30%;
  }
}

.career__title {
	color: $white;
	font-size: $text-h3;
	font-weight: 300;
  text-align: center;

	@include mquery(48em) {
		text-align: left;
	}
}
