.career-program .paragraphs-item-programas-carreras {
    background-color: $white;
    box-shadow: 0 0 13px #c2bebe;
    height: 300px;
    margin: 30px 6px;

    h4 {
        color: white;
        margin-top: 0;
        padding: 15px;
    }
    ul {
        list-style: none;
        padding: 25px;

        li {
            margin-bottom: 10px;
        }
    }

    @include mquery("small") {
        @include span-columns(6);
        @include omega();
        vertical-top: top;
    }

    @include mquery("medium") {
        @include span-columns(4);
        margin: 30px 13px;
        @include omega();
        vertical-top: top;
    }
}

.animacion-3d .paragraphs-item-programas-carreras h4{
    background-color: $animation-color;
}
.diseno-desarrollo-web .paragraphs-item-programas-carreras h4{
    background-color: $ddw-color;
}

.post-produccion .paragraphs-item-programas-carreras h4{
    background-color: $post-color;
}

.section-skills {
    background-color: $blue-dark;
    background-image: url(../img/skills-back.png);
    margin: 0;
    width: 100%;

    p {
        @include font-size(16);
        color: $white;
        margin-top: 33px;
        width: 95%;

        @include mquery("medium") {
            float: right;
        }
    }
}

.pane-node-field-titulo-skills-carreras {
    @include mquery("medium") {
        @include span-columns(5);
    }

    h4 {
        @include font-size(22);
        color: $light-blue;
        margin-top: 33px;
        width: 95%;

        @include mquery("medium") {
            @include font-size(28);
        }
    }
}

.pane-node-field-cuerpo-skills-carreras {
    @include mquery("medium") {
        @include span-columns(7);
        @include omega();
    }
}

.pane-node-field-skills-carrera {
    clear: both;
}
