.course-details {
    margin-top: 40px;
    
    p {
        margin: 10px 0;
    }
    strong {
        color: $black;
        font-weight: bold;
    }
}

.course-info {
    margin-top: 2px;

    .date-display-range span {
        color: $black;
        font-weight: normal;
    }
    .date-display-range,
    .label-inline {
        display: inline;
    }
    .label-inline {
        color: $black;
        font-weight: bold;
    }
}

.course-form {
    height: 0;
    overflow: hidden;
    margin-top: 70px;
    text-align: center;
    transition: 1s;
}

.flip-wrap {
    perspective: 800px;
}

.cta-register-wrap {
    margin: 0 auto;
    text-align: center;
}

.cta-register-detail {
    color: $black;
    font-size: $text-small;
    margin-top: 1em;
    text-align: center;
    
    a:link {
       color: $black; 
    }
    strong {
        color: $black;
        display: block;
        font-family: $contrast-font;
        margin-bottom: 5px;
    }
}

.hide-button {
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(93deg);
    transition: 1s;
}

.hide-flip-wrap {
    height: 0;
    transition: 2s;
}

.inscription-button {
    font-weight: bold;
    left: 12%;
    outline: none;
    position: absolute;
    margin: 0;
    top: 0;

    @include mquery("medium") {
        left: 13%;
    }
}

.curso-detail-h {
    color: $light-blue;
    margin-top: 0;
}

.panel-cetav-cursos-libres {
    h3,
    h4 {
        color: $light-blue;
        margin: 0;
    }
    img {
        padding-left: 2em;
    }
    .panel-wide {
        padding: 0;
    }
    .panel-wide-courses {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 100px;
        width: 450px;
        
        form {
            text-align: left;
        }
    }
    .subtitle {
        border-bottom: 2px solid;
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: center;

        @include mquery("medium") {
            text-align: left;
            width: 370px;
        }
    }
    .title-form {
        margin-bottom: 20px;
    }
}

.show-from-btn {
    width: 80%;
    margin: 0 auto;
}

.show-course-form {
    height: 420px;
    transition: 2s;
}
