footer {
    text-align: center;

    @include mquery("medium") {
        text-align: left;
    }
    
    h2 {
        display: none;
    }
    li,
    p {
        color: $white;
        font-size: $text-small;
        margin-bottom: .75em;
    }
}

.foot-h {
    color: $white;
    margin: 2px 0 20px;
}

.logo-parque-ministerio {
    background: url(../img/logo-parque-ministerio.png) center;
    background-size: cover;
    display: inline-block;
    height: 118px;
    text-align: center;
    width: 275px;

    @include mquery("small") {
        height: 99px;
        width: 245px;
    }

    @include mquery("medium") {
        height: 110px;
        width: 256px;
    }

    @include mquery("large") {
        height: 112px;
        width: 261px;
    }
}

.icon-list {
    list-style: none;

    li {
        display: inline-block;
        position: relative;
    }
    .icon-face:before,
    .icon-vimeo:before {
        color: #fff;
    }
    i:hover {
        .icon-face:before {
            color: blue;
        }
    }
}
