.view-generaciones {
    text-align: center;
}

.generation-container {
    display: inline-block;
    height: auto;
    margin: 0 auto;
    position: relative;
    vertical-align: top;

    @include mquery(1000px) {
        width: 33%;
    }
}

.generation-info {
    background-color: rgba(0, 0, 0, .5);
    height: 99%;
    overflow: hidden;
    padding: 50% 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.generation-video {
    opacity: 0;
    z-index: 1;
}

.link-anuario {
    padding: 1rem 0;
}

.generation-title {
    font-family: $default-font;
}

.anuary__reel-link {
    left: 0;
    margin-top: $space-x-small;
    padding: $space-x-small $space-base $space-base;
    position: absolute;
    right: 0;
    z-index: 2;
}

.generation-container:hover .btn-secondary--inverse a {
    @include btn($white, $orange, none, none, $orange);
}

