.view-generaciones {
    text-align: center;
}

.generation-container {
    display: inline-block;
    height: auto;
    margin: 0 auto;
    position: relative;
    vertical-align: top;

    @include mquery(1000px) {
        width: 33%;
    }
    
    img {
        width: 100%;
    }
}

.generation-info {
    background-color: rgba(0,0,0,.5);
    height: 99%;
    overflow: hidden;
    padding: 50% 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.link-anuario {
    padding: 1rem 0;
}

.generation-title {
    font-family: "Quicksand", Arial, Verdana, sans-serif;
}