    .generation {
    display: block;
    margin: 90px auto;
    max-width: $max-width;
    overflow: hidden;
    position: relative;
}

.view-generacion .views-row {
    position: relative;
    padding: 0 0 50px;
    margin: 0 0 50px;

    @include mquery("large") {
        margin: 0 0 100px;
    }

    .views-field-title {
        display: block;
        margin: 0 0 20px;
        position: relative;
        text-align: center;

        @include mquery("medium") {
            float: left;
            text-align: left;
            width: 35%;
        }
    }
    .views-field-field-btn-anuario {
        display: block;
        margin: 0 auto 20px;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 180px;

        @include mquery("medium") {
            position: absolute;
            margin-top: 120px;
            text-align: center;
        }
    }
    .views-field-field-reel-generacion {
        display: block;
        position: relative;
        width: 100%;
        padding: 0 0 47%;

        @include mquery("medium") {
            float: right;
            width: 65%;
            padding: 0 0 36%;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

.views-field-field-testimonios {
    background-color: #BE1D2C;
    margin: 50px 0 0;
    padding: 0;
    width: 100%;
}

.paragraphs-item-testimonios {
    @include outer-container;
    color: $gray;
    margin: 0 auto;
    position: relative;

    .img-testimonial {
        @include mquery("base") {
            display: block;
            height: 200px;
            margin: 0 auto 20px;
            position: relative;
            width: 200px;
        }

        @include mquery("medium") {
            @include span-columns(3);
            margin: -11.6% 0;
            position: absolute;
            top: 50%;
        }

        img {
            border-radius: 50%;
            box-shadow: 0 4px 7px $gray;
            position: absolute;
            width: 100%;
        }
    }
    .text-testimonial {
        @include mquery("base") {
            @include span-columns(12);
            display: block;
            position: relative;
        }

        @include mquery("medium") {
            @include shift(3);
            @include span-columns(9);
            @include omega();
            padding: 10px 0;
            position: relative;
        }

        &:before {
            background-image: url(../img/comillas-1.png);
            background-size: contain;
            background-repeat: no-repeat;
            content: "";
            padding: 0 0 7%;
            left: 0;
            position: absolute;
            top: 0;
            width: 10%;
        }
         &:after {
            background-image: url(../img/comillas-2.png);
            background-size: contain;
            background-repeat: no-repeat;
            bottom: 0;
            content: "";
            padding: 0 0 7%;
            position: absolute;
            right: 0;
            visibility: visible;
            width: 10%;
        }
        p {
            color: #fff;
            margin: 0 11%;
        }
    }
}

.testimonial {
    margin: 10px auto 0;
    position: relative;
    padding: 24px;
    text-align: left;
    width: 100%;

    h5 {
        @include font-size(14);
        color: #fff;
        font-weight: lighter;
        margin: 10px 0 3px;

        @include mquery("base") {
            @include shift(1.3);
            @include span-columns(12);
        }

        @include mquery("medium") {
            @include shift(4);
            @include span-columns(6);
        }
    }

    .carrera-testimonial {
        @include font-size(12);
        color: #fff;

        @include mquery("base") {
            @include shift(1.3);
            @include span-columns(12);
        }

        @include mquery("medium") {
            @include shift(4);
            @include span-columns(6);
        }
    }
}
