.graduete-generation {
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    color: #848286;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 15px 0;

    i {
        color: $blue-dark;
        font-style: normal;
        margin-bottom: 6px;
    }
    p {
        margin: 0;
    }
}

.info-graduate {
    padding-bottom: 0;
    text-align: center;

    img {
        margin-bottom: 18px;
    }
    p {
        color: #292929;
        margin: 15px 0;
    }
}