.node-form {
    @include outer-container;
    box-shadow: 0 0 4px 0 $dark-orange;
    margin: 2%;
    padding: 2%;

    @include mquery("small") {
        margin: 2% auto;
        padding: 1% 0; 
    }
    
    > div {
        @include span-columns(12);

        > div {
            margin: 2%;

            @include mquery("small") {
                @include span-columns(5);
                @include shift(1);
                @include omega();
                margin-top: 2%;
            }
        }
    }

    .description,
    fieldset {
        display: none;
    }
    
    .form-file,
    .form-submit {
        background-color: $orange;
        color: $white;
        border: 0;
        border-radius: 4px;
    }

    .form-file {
        padding: 5px;
    }

    .form-submit {
        padding: 6px;
        margin-left: 5px;
    }

    .form-actions{
        .form-submit {
            @include button($orange, $orange, $white);
        }
    }
    
    label {
        text-transform: capitalize;
    }

    select {
        background-color: $orange;
        border: 0;
        color: $white;
        width: auto;
    }

    table {
        td {
            background-color: transparent;
            border: solid #e1e1e1 1px;
        }

        .field-multiple-drag {
            display: none;
        }
    }

    textarea {
        resize: none;
    }

    .tabledrag-toggle-weight-wrapper {
        display: none;
    }

    ul.vertical-tabs-list {
        margin: 0;
    }
}
