.graduetes-reel {
    margin: $space-small 0;
    position: relative;
}

.graduetes-reel__img-left {
    display: none;

    @include mquery(700px) { 
        display: inline;
        float: left;
        width: 50%;
    }

    img {
        display: block;
    }
}

.graduetes-reel__img-right {
    width: 100%;

    @include mquery(700px) { 
        display: inline;
        float: right;
        width: 50%;
    }

    img {
        display: block;
    }
}

.graduetes-reel__title {
    @include mquery(700px) {          
        position: absolute;
        padding: $space-base;
        width: 50%;
    }

    @include mquery("medium") {          
        padding: 4rem $space-small 0 $space-small;
        width: 49%;
    }
} 
