.graduetes-reel {
    margin: $space-small 0;
    position: relative;
}

.graduetes-reel__img-left {
    display: none;

    img {
        display: block;
    }

    @include mquery(700px) { 
        display: inline;
        width: 50%;
        float: left;
    }
}

.graduetes-reel__img-right {
    width: 100%;

    img {
        display: block;
    }

    @include mquery(700px) { 
        display: inline;
        width: 50%;
        float: right;

    }
}

.graduetes-reel__title {
    @include mquery(700px) {          
        position: absolute;
        width: 50%;
        padding: $space-base;
    }

    @include mquery("medium") {          
        width: 49%;
        padding: 4rem $space-small 0 $space-small;
    }
} 

.video-modal {
    width: 100%;
    opacity: .2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    @include mquery(700px) { 
        width: 50%;
    }

    a {
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    img {
        width: auto;
    }
}

.video-modal:hover {
    opacity: .3;
    background-color: rgba(128, 128, 128, 0.514)
}