.panel-header {
    position: relative;

    img {
        display: block;
        width: 100%;
    }
}

.section-call-out {
    background-color: $main-color;
    padding: 20px;

    h2 {
        color: $white;
        font-size: 2em;
    }

    @include mquery(850px) {
        bottom: 0;
        position: absolute;
    }
}

.animacion-3d .section-call-out {
    background-color: $animation-color;
}

.diseno-desarrollo-web .section-call-out {
    background-color: $ddw-color;
}

.post-produccion .section-call-out {
    background-color: $post-color;
}

.imagen-comercial .section-call-out {
    background-color: $commercial-image-color;
}