.panel-header {
    position: relative;

    img {
        display: block;
        width: 100%;
    }
}

.section-call-out {
    background-color: $main-color;
    bottom: 0;
    padding: 20px;
    position: absolute;

    @include mquery("medium") {
        padding: 40px;
    }

    h2 {
        color: $white;
    }
}

.animacion-3d .section-call-out {
    background-color: $animation-color;
}

.diseno-desarrollo-web .section-call-out {
    background-color: $ddw-color;
}

.post-produccion .section-call-out {
    background-color: $post-color;
}
