.date-course-item span {
    color: $ligth-gray;
    font-family: $default-font;
    margin-bottom: 0;
    margin-top: 6px;
}

.section-course-details .panel-left-column {
    display: block;
    float: left;
    text-align: center;
    width: 100%;

    @include mquery("base") {
        margin-bottom: 15px;
    }
    @include mquery("small") {
        margin-bottom: 20px;
    }
    @include mquery("medium") {
        margin-bottom: 30px;
    }
    @include mquery("large") {
        display: inline-block;
        text-align: left;
        width: 45%;
    }
}

.section-title-free-course .section-call-out-h {
    color: $light-blue;
}

// solo desde este id me podía agarrar para darle un background-image al
// contenedor
#panels-ipe-regionid-left_third {
    background-image: url(../img/course.png);
    background-position: right;
    background-size: 100%;
    height: 300px;
    width: 100%;
    display: none;

    @include mquery("large") {
        display: inline-block;
    }
}

.section-course-details .panel-right-column {
    @include mquery("medium") {
        display: block;
        width: 100%;
    }
    @include mquery("large") {
        float: right;
        width: 50%;
    }
}

.section-course-details {
    .date-display-single {
        font-size: $text-small;
    }
}

.section-course-details .tiltle-course-item {
    font-size: $text-base;
    margin: 0 0 5px;

    @include mquery("large") {
        width: 65%;
    }
}

.text-course-description p {
    margin: 0 0 20px;
}

.title-course-item {
    color: $black;
    display: inline-block;
    font-family: $contrast-font;
    margin: 0;
    width: 100%;

    @include mquery("large") {
        width: 60%;
    }
}
