.panel-wide-hero {
    @include mquery("base") {
        max-height: 400px;
    }

    @include mquery("small") {
        background-position: center;
    }

    @include mquery("x-large") {
        background-size: 1200px;
    }
}
