.panel-cetav-frontpage .panel-wide-courses {
    background-color: $white;
    height: auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.view-carreras-home .view-content {
    text-align: center;
}

.view-carreras-home .views-row {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.panel-wide-home__courses {
    padding-left: 0;
    padding-right: 0;
}

.panel-cetav-frontpage .views-field-title {
    margin-bottom: 0;
}

.container-card {
    display: inline-block;
    font-family: $default-font;
    margin-left: 0;
    margin-top: 15px;
    position: relative;
    text-align: center;

    @include mquery("small") {
        margin-left: $space-base;
    }

    @include mquery("large") {
        margin-top: 0;
    }
}

.container-card:before {
    content: "";
    background-color: #333;
    border-radius: 50%;
    display: block;
    height: 93.75%;
    left: 50%;
    opacity: .5;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
    top: 50%;
    width: 93.75%;
    z-index: 0;
}

.container-card:before:hover {
    opacity: .1;
}

.container-gif {
    background-position: center;
    background-size: cover;
    border: 10px solid rgba(51, 51, 51, 0.5);
    border-radius: 50%;
    display: block;
    height: 286px;
    padding: 20px 15px;
    transition: all 0.3s ease;
    width: 286px;

    @include mquery("medium") {
        height: 318px;
        width: 318px;
    }
}

.container-title-course {
    height: 100%;
    padding: 0;
    position: relative;
    top: 2em;

    a {
        @include btn(transparent, $white, inherit, $white, transparent) 
        bottom: 18%; 
        left: 29%;
        position: absolute;
    }
    h3 {
        color: $white;
        font-size: 1.5625em;
        font-weight: bold;
        padding: 0 7%;        
    }
}

.container-gif-animacion {
    background-image: url(../img/animacion-cover.png);
}

.container-card:hover .container-gif-animacion {
    @include mquery("large") {
        background-image: url(../img/animacion-gif.gif);
        border-color: $animation-color;
        transition: all .5s ease;
    }
}

.container-gif-web {
    background-image: url(../img/web-cover.png);
}

.container-card:hover .container-gif-web {
    @include mquery("large") {
        background-image: url(../img/web-gif.gif) ;
        border-color: $ddw-color;
        transition: all .5s ease;
    }
}

.container-gif-post {
    background-image: url(../img/post-cover.png);
}

.container-card:hover .container-gif-post {
    @include mquery("large") {
        background-image: url(../img/post-gif.gif);
        border-color: $post-color;
        transition: all .5s ease;
    }
}

.icon-animacion a {
    background-color: $dark-orange;
}

.icon-post a {
    background-color: $dark-green;
}

.icon-web a {
    background-color: $dark-red;
}

.btn--commercial-image {
    @include btn($commercial-image-color, $white, $commercial-image-color, $white, $commercial-image-color);
    font-weight: normal;
    margin: 0 auto;
    transition: all 0.5s ease;
    position: relative;
}