.main-content .main .title {
    display: none;
}

.panel-wide-hero {
    background: #000 url(../img/header.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 5em 0;

    @include mquery("base") {
        max-height: 400px;
    }
    @include mquery("x-large") {
        background-size: 1200px;
    }
}
