.panel-cetav-frontpage .panel-wide-allies {
    background-color: #eee;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
}

.section-title-allies {
    display: block;
    float: left;
    text-align: center;
    width: 100%;

    @include mquery("base") {
        margin-bottom: 15px;
    }
    @include mquery("small") {
        margin-bottom: 20px;
    }
    @include mquery("medium") {
        margin-bottom: 30px;
    }
    @include mquery("large") {
        display: inline-block;
        text-align: left;
        width: 40%; 
    }
}

.text-course-container {
    @include mquery("medium") {
        display: block;
        margin: 0 auto;
        width: 90%;
    }
    @include mquery("large") {
        float: right;
        width: 50%;
    }
}

.pane-bundle-aliados-logo-home .field-item {
    display: inline-block;
    float: left;
    text-align: center;
    position: relative;

    @include mquery("base") {
        height: 60px;
        margin-top: 50px;
        width: 50%;
    }
    @include mquery("small") {
        height: 70px;
        margin-top: 50px;
    }
    @include mquery("medium") {
        height: 70px;
        width: 33%;
    }
    @include mquery("large") {
        height: 80px;
        margin-top: 60px;
        width: 24.5%;
    }
    @include mquery("x-large") {
        height: 90px;
        margin-top: 60px;
    }

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        margin: auto;
        width: 100px;

        @include mquery("large") {
            width: 120px;
        }
    }
}

.field-name-field-aliados-img {
    clear: both;
}

.panel-wide-allies .section-call-out-h {
    color: $orange;
}
