.sub-careers {

}

.new-careeer {
    padding-right: $space-x-small;    
    
    @include mquery("small") {
        width: 75%;
    }

    @include mquery("medium") {
         @include span-columns(8);
    }
}

.sub-career {
	background-color: green;
	text-align: center;
	margin-top: $space-small;
    width: 318px;

    @include mquery("medium") {
        margin-top: 0;
        @include span-columns(4);
    }
}

.sub-career__title {
    color: $white;
    font-size: 1.6875em;
    font-weight: bold;
    font: bold  1.6875em $contrast-font;
    text-align: center;
    padding: 10px;
    background-color: red;
    margin-bottom: 40px;
}