.panel-wide-hero {
    background: #000 url(../img/header.jpg) no-repeat right / cover;
    padding: 5em 0;

    @include mquery("base") {
        max-height: 400px;
    }
    
    @include mquery("small") {
        background-position: center;
    }

    @include mquery("x-large") {
        background-size: 1200px;
    }
}