.panel-cetav-frontpage .panel-wide-courses {
    background-color: $white;
    height: auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.panel-cetav-frontpage .views-field-title {
    margin-bottom: 0;
}

.container-card {
    display: inline;
    float: left;
    font-family: $default-font;
    margin-top: 15px;
    margin-left: $space-base;
    text-align: center;
    position: relative;

    @include mquery("large") {
        margin-top: 0;
    }
}

.container-card:before {
    content: "";
    background-color: #333;
    border-radius: 50%;
    display: block;
    height: 100%;
    opacity: .5;
    left: 0;
    position: absolute;
    transition: opacity 0.5s ease;
    top: 0;
    width: 100%;
    z-index: 0;
}

.container-card:before:hover {
    opacity: .1;
}


.container-gif {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: block;
    height: 318px;
    padding: 30px 15px;
    transition: all 0.3s ease;
    width: 318px; 
}

.container-title-course {
    padding: 0;
    position: relative;
    top: 3em;

    @include mquery("large") {
        top: 0;
    }
    @include mquery("x-large") {
        top: 2em;
    }
}

.container-title-course h3 {
    color: $white;
    font-size: 1.6875em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    padding: 0 10%;
}

.container-title-course a {
    border-radius: 3px;
    color: $white;
    font-weight: regular;
    margin: 0 auto;
    padding: 15px 22px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.container-gif-animacion {
    background-image: url(../img/animacion-cover.png);
}

.container-card:hover .container-gif-animacion {
    @include mquery("large") {
        background-image: url(../img/animacion-gif.gif);
        border: 10px solid $animation-color; 
        transition: all 0.3s ease;
    }
}
.container-gif-web {
    background-image: url(../img/web-cover.png);
}

.container-card:hover .container-gif-web {
    @include mquery("large") {
        background-image: url(../img/web-gif.gif) ;
        border: 10px solid $ddw-color; 
        transition: all 0.3s ease;
    }
}

.container-gif-post {
    background-image: url(../img/post-cover.png);
}

.container-card:hover .container-gif-post {
    @include mquery("large") {
        background-image: url(../img/post-gif.gif);
        border: 10px solid $post-color;         
        transition: all 0.3s ease;
    }
}

.icon-animacion a {
    background-color: $dark-orange;
}

.icon-web a {
    background-color: $dark-red;
}

.icon-post a {
    background-color: $dark-green;
}

.icon-web h3 {
    padding: 0 7%;
}

.icon-post h3 {
    padding: 0 6%;
}
