.personal-institution {
    .field-items {
        @include outer-container;
        margin-top: 100px;

        .field-item {
            margin-bottom: 20px;
            padding: 0 3em 3em;
            text-align: center;

            @include mquery("base") {
                @include span-columns(12);
            }

            @include mquery("small") {
                @include span-columns(6);
            }

            img {
                border-radius: 50%;
                display: block;
                margin: 0 auto;
            }
        }
        .odd {
            @include omega();
        }
    }
    .personal-name {
        margin-top: 20px;
        text-align: center;
    }
    .personal-charge {
        p {
            color: $orange;
            display: inline-block;
            font-size: $text-small;
            font-weight: bold;
            margin: 0 0 10px;
        }
    }
    .personal-description {
        p {
            text-align: left;
        }
    }
}

.board-h {
    font-size: $text-h4;
}

.board-table {
    border-top: 2px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
    list-style-type: none;
    
    b {
        display: block;
    }
    li {
        border-bottom: 1px solid #e9e9e9;
        margin: 0;
        padding: .75em 0;
    }
}
