.header-style {
    background-color: $white;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.main .title {
    display: none;
}

#block-views-exp-global-search-page {
    margin: 0 15px;
    position: absolute;
    top: 110px;
    width: 96%;

    @include mquery("medium") {
        right: 48px;
        top: 144px;
        width: 33%;
    }
}

.header .views-exposed-form .views-exposed-widget {
    @include mquery("medium") {
        padding: 0;
        right: 85px;
        float: right;
        width: 62%;
        position: relative;
    }
}

.header div .views-exposed-form,
#block-system-main-menu {
    @include mquery("medium") {
        display: block;
        width: 94%;

        li {
            color: $dark-gray;
            display: inline-block;
            font-weight: bold;
            list-style: none;
            margin-top: 30px;
            position: relative;
            text-transform: uppercase;

            a,
            span {
                color: $dark-gray;
                text-decoration: none;

                &:hover{
                    color: $orange;
                }
            }
        }
    }
}

@include mquery("medium") {
    #block-system-main-menu .menu a,
    #block-system-main-menu .expanded {
        padding: 15px 30px 27px;
    }
}

#block-system-main-menu .expanded {
     @include mquery("medium") {
        &:hover {
            .menu {
                display: block;
                height: 265px;
                position: absolute;
                transition: all 0.3s ease;
                background: #f3f3f3;
                border-top: 4px solid $orange;
                margin-top: 15px;
                width: 280px;
                z-index: 1;
            }

            li {
                &:hover {
                    a {
                        color: $orange;
                    }
                }
            }
            .nolink {
                color: $orange;
            }
            .menu {
                display: block;
            }
        }
    }
    a {
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #F9F7F7;
        display: block;
        padding: 12px 20px;
    }
    li {
        display: block;
        margin: 0;
        padding: 0;
        transition: border 0.3s ease;
        border: 0;
        font-weight: normal;
        text-transform: none;

        &:last-child a {
            border-bottom: 0;
        }
    }
    .menu {
        display: none;

        @include mquery("medium") {
            background: #f3f3f3;
            border-top: 4px solid $orange;
            left: -80px;
            position: absolute;
            transition: all 0.3s ease;
            text-align: left;
            top: 50px;
            width: 380px;
            z-index: 10;
        }
    }
    .show {
        background-color: #f3f3f3;
        border-top: 4px solid $orange;
        display: block;
        height: 265px;

        li a {
            color: $dark-gray;
        }
    }
}

.header div .views-exposed-form,
.content > .menu {
    @include mquery("medium") {
        display: block;
        width: 94%;

        li {
            border-right: 1px solid $dark-gray;
            color: $dark-gray;
            display: inline-block;
            font-weight: 600;
            list-style: none;
            margin: 35px 0;
            padding: 0 18px;
            text-transform: uppercase;

            a {
                color: $dark-gray;
                text-decoration: none;
            }
        }
        & li:nth-child(2) {
            border-left: 0 solid $dark-gray;
        }
    }
}

.content .expandir {
    display: block;
    margin: 0 auto;
    width: 100%;

    body {
        overflow: hidden;
    }
    span,
    a {
        color: $main-color;
        padding-bottom: 3px;
        text-decoration: none;
    }
    li {
        list-style: none;
        padding: 16px;
        border-bottom: solid #fff 1px;

        span {
            padding-right: 200px;

            @include mquery("medium") {
                padding-right: 0;
            }
        }
    }
}

.views-widget-filter-search_api_multi_fulltext {
    width: 100%;

    label {
        display: none;
    }
    @include mquery("medium") {
        display: none;
    }
}

.display {
    display: block;
}

.header .views-submit-button input {
    background: url(../img/search.svg) no-repeat center;
    background-size: cover;
    border: none;
    color: transparent;
    cursor: pointer;
    position: absolute;
    right: 21px;
    top: 13px;
    transition: opacity .4s ease;
    width: 20px;
}

.hide-content {
    overflow: hidden;
    position: fixed;
}

.menu-collapse {
    margin: 10px 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    .menu-toggle {
        cursor: pointer;
        height: 30px;
        margin-top: 15px;
        width: 30px;
    }
    @include mquery("medium") {
        display: none;
    }
}

.block-menu h2{
    display: none;
}

.menu-toggle.on .menu-toggle-one {
    transform: rotate(45deg) translate(12px, 10px);
}

.menu-toggle.on .menu-toggle-two {
    opacity: 0;
}

.menu-toggle.on .menu-toggle-three {
    transform: rotate(-45deg) translate(2px, -1px);
}

.menu-toggle-one,
.menu-toggle-two,
.menu-toggle-three {
    background: $main-color;
    backface-visibility: hidden;
    border-radius: 2px;
    height: 3px;
    margin: 6px 0;
    transition-duration: .3s;
    width: 100%;
}

.extended {
    transition: all 0.2s ease;

    li {
        display: block;
    }
}
