.action-top {
    position: absolute;
    right: 0;
    top: -40px;
    padding: $space-x-small;

    @include mquery("medium") {
       padding: 0;
    }
}

.action-top:before {
    content: "";
    background: center no-repeat url(../img/back-to-top.png);
    background-size: 31%;
    display: inline-block;
    margin-right: -7px;
    height: 17px;
    width: 46px;
}

.foot-menu {
    ul {
        list-style: none;
    }

    a {
        color: $white;
        display: block;
        font-size: $text-small;
    }
}