nav[role="navigation"] {
    li {
        color: $white;
        font-size: $text-base;
        display: inline;
        float: left;
        margin: 0 7px;
        position: relative;
    }
    a,
    .nolink {
        display: block;
        float: left;
        padding: 10px 8px 7px;

        &:hover {
            text-decoration: none;
        }
    }
    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;

        a {
            border-bottom: 3px solid $orange;
            color: $white;

            &:hover {
                border-color: $white;
                font-weight: bold;
            }
        }
        .active-trail {
            border-color: $white;
            font-weight: bold;
        }
    }
}

nav[role="navigation"] { 
    .expanded {
        &:hover {
            font-weight: bold;
        }
        a {
            width: 100%;
            
            &:hover {
                border-color: transparent;
            }
        }
        li {
            border-bottom: 1px solid $white;
            display: block;
            float: none;
            font-size: $text-small;
            font-weight: normal;
            margin: 0;
            overflow: hidden;

            &:last-child {
                border: 0;
            }
        }
        .menu {
            background: $orange;
            display: none;
            left: -30px;
            position: absolute;
            text-align: left;
            top: 43px;
            width: 300px;
            z-index: 10;
        }
    }
    .expanded:hover {
        .menu {
            display: block;
        }
    }
}

.back-pll {
    border-bottom: 3px solid $orange;
    color: $white;
    display: block;
    padding: 10px 8px 7px;
    position: absolute;
    right: 25px;
    top: 0;

    &:before {
        background-color: $white;
        content: "";
        height: 27px;
        left: -10px;
        position: absolute;
        width: 1px;
    }

    &:hover {
        border-color: $white;
        text-decoration: none;
    }
}

.nav-main {
    @include micro-clearfix;
    position: relative;
}

.header-style {
    background-color: $white;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.main .title {
    display: none;
}

.content .expandir {
    display: block;
    margin: 0 auto;
    width: 100%;

    body {
        overflow: hidden;
    }
    span,
    a {
        color: $main-color;
        padding-bottom: 3px;
        text-decoration: none;
    }
    li {
        list-style: none;
        padding: 16px;
        border-bottom: solid #fff 1px;

        span {
            padding-right: 200px;

            @include mquery("medium") {
                padding-right: 0;
            }
        }
    }
}

.display {
    display: block;
}

.hide-content {
    overflow: hidden;
    position: fixed;
}

.menu-collapse {
    margin: 10px 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    .menu-toggle {
        cursor: pointer;
        height: 30px;
        margin-top: 15px;
        width: 30px;
    }
    @include mquery("medium") {
        display: none;
    }
}

.menu-toggle.on .menu-toggle-one {
    transform: rotate(45deg) translate(12px, 10px);
}

.menu-toggle.on .menu-toggle-two {
    opacity: 0;
}

.menu-toggle.on .menu-toggle-three {
    transform: rotate(-45deg) translate(2px, -1px);
}

.menu-toggle-one,
.menu-toggle-two,
.menu-toggle-three {
    background: $main-color;
    backface-visibility: hidden;
    border-radius: 2px;
    height: 3px;
    margin: 6px 0;
    transition-duration: .3s;
    width: 100%;
}

.extended {
    transition: all 0.2s ease;

    li {
        display: block;
    }
}
