nav[role="navigation"] {
    // display: none;
    padding: 3em $space-x-small 0;

    @include mquery ("medium") {
        padding: 0;
    }

    li {
        color: $white;
        font-size: 1em;
        margin: 0 5px;
        position: relative;

        @include mquery(62.5em) {
            font-size: .875em;
        }
    
        @include mquery("medium") {
            margin: 0 10px;
        }

        @include mquery("x-large") {
            margin: 0 20px;
        }
    }

    a,
    .nolink {
        display: block;
        padding: 10px 0;
        text-decoration: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        list-style: none;

        @include mquery ("medium") {
            flex-direction: row;
            margin: 0;
        }

        a {
            border-bottom: 3px solid $orange;
            color: $white;
            position: relative;

            &:hover {
                border-color: $white;
                font-weight: bold;
            }
        }
        
        a::before {
            content: '';
            border-bottom: 3px solid $orange;
            bottom: -3px;
            position: absolute;
            right: 0;
            width: 50%;

            @include mquery("small") {
                width: 70%;
            }

            @include mquery("medium") {
                width: 0;
            }
        }

        .active-trail {
            border-color: $white;
            font-weight: bold;
        }
    }
}

nav[role="navigation"] { 
    .expanded {
        &:hover {
            font-weight: bold;
        }

        a:hover {
            border-color: transparent;
        }

        li {
            display: block;
            float: none;
            font-size: $text-small;
            font-weight: normal;
            margin: 0 1rem;
            
            @include mquery("medium") {
                border-bottom: 1px solid $white;
            }

            &:last-child {
                border: 0;
            }
        }

        .menu {
            margin: 0;

            @include mquery ("medium") {
                background: $orange;
                display: none;
                left: -30px;
                position: absolute;
                text-align: left;
                top: 43px;
                width: 300px;
                z-index: 10;
            }
        }
    }
    
    .expanded:hover {
        .menu {
            display: block;
        }
    }
}

.back-pll {
    display: none;
    
    @include mquery("medium") {
        border-bottom: 3px solid $orange;
        color: $white;
        display: block;
        font-size: .75em;
        padding: 10px 5px;
        position: absolute;
        right: 25px;
        top: 0;

        &:before {
            background-color: $white;
            content: "";
            height: 18px;
            left: -10px;
            position: absolute;
            width: 1px;
        }

        &:hover {
            border-color: $white;
            font-weight: bold;
            text-decoration: none;
        }
    }

    @include mquery(62.5em) {
        font-size: .875em;

        &:before {
            height: 23px;
        }
    }

    @include mquery("large") {
        padding: 10px;

        &:before {
            height: 27px;
        }
    }
}

.nav-main {
    @include micro-clearfix;
    position: relative;
}

.main .title {
    display: none;
}

.display {
    display: block;
}

.hide-content {
    overflow: hidden;
    position: fixed;
}

.menu-collapse {
    margin: 10px 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    .menu-toggle {
        cursor: pointer;
        display: block;
        height: 30px;
        margin-top: 15px;
        width: 30px;
    }

    @include mquery("medium") {
        display: none;
    }
}

.menu-toggle.on .menu-toggle-one {
    transform: rotate(45deg) translate(12px, 10px);
}

.menu-toggle.on .menu-toggle-two {
    opacity: 0;
}

.menu-toggle.on .menu-toggle-three {
    transform: rotate(-45deg) translate(2px, -1px);
}

.menu-toggle-one,
.menu-toggle-two,
.menu-toggle-three {
    background: $white;
    backface-visibility: hidden;
    border-radius: 2px;
    height: 3px;
    margin: 6px 0;
    transition-duration: .3s;
    width: 100%;
}

.extended {
    transition: all 0.2s ease;

    li {
        display: block;
    }
}
