.news-container {
    margin: 0 auto;
    text-align: center;
}

.news-subtitle {
    margin-bottom: .5em;

    a {
        color: $blue-dark;
        font-size: 1.25em;
        font-weight: 700;
    } 
}

.news-categories-title {
    color: #243842;
    font-size: 1.25em;
    font-weight: 700;
    margin: 0 0 $space-base;

    @include mquery("medium") {
        margin: 0 0 $space-x-small 1.5em;
    }
}

.news__category-list {
  @include mquery("medium") {
    float: right;
  }
}