.news-title {
    @include mquery(800px) {
        width: 70%;
    }

    @include mquery("large") {
        width: 60%;
    }
}

.news-category {
    float: left;
}

.news-date {
    span::before {
        content: "/";
        margin: 0 .5em;
    }
}

.news-image-description {
    background-color: #f19130;
    color: #fff;
    font-weight: 300;
    height: auto;
    margin: -.4em 0 $space-small;
    padding: .4em 0 .4em 1em;
    width: 100%;
}