.one-pager { 
    background: url("../img/one-pager-bgi.jpg") no-repeat center / cover;
    margin-top: $space-medium;    
    padding: $space-base;

    @include mquery("medium") {
        margin-top: 0;
    }
}

.one-pager__title {
    color: $blue-dark;
    padding: $space-x-small 0;
    
    @include mquery("medium") {
        padding-top: 0;
    }
}

.one-pager__subtitles {
    color: $white;
}

.one-pager__dowload {
    margin: $space-base 0;
    
    a {
        text-decoration: none;
    }

    img {
        display: none;
    }
}