.course-listing {
    margin-top: 4em;
    
    img {
        display: block;
        width: 100%;
    }
    li {
        padding: 0;
        position: relative;
    }
    .details {
        background-color: rgba($light-blue, .8);
        bottom: 0;
        left: 40%;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .price {
        background-color: $white;
        color: $light-blue;
        display: inline-block;
        font-weight: bold;
        padding: 3px 7px;
    }
}

.prev-title-course {
    font-size: $text-base;
    margin: 0 0 .5em;

    a {
        color: $white;
    }
}

.date-display-range {
    color: $white;
    font-size: $text-small;
    margin-bottom: .5em;
}
