.course-listing {
    img {
        display: block;
        width: 100%;
    }
    li {
        padding: 0;
        position: relative;
    }
    .details {
        background-color: rgba($light-blue, .8);
        width: 50%;
    }
}

.view-preview-free-course {
    margin: 50px auto;
    max-width: 490px;
    position: relative;

    @include mquery("large") {
        display: inline-block;
        margin: 20px;
    }

    &:hover {
        .details-preview-course {
            opacity: 1;
            transition: 1s;
        }
    }
}

.views-field-field-imagen-curso {
    overflow: hidden;

    img {
        height: 100%;
        max-width: none;
    }
}

.details-preview-course {
    background-color: $light-blue;
    height: 250px;
    opacity: .85;
    padding: 30px 20px;
    position: absolute;
    right: 0;
    transition: 1s;
    width: 50%;
}

.prev-title-course {
    a {
        color: $white;
    }
}

.date-display-range {
    color: $white;
}

.views-field-field-precio {
    color: $light-blue;
    background-color: $white;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 190px;
}
