.grid-quotes {
    padding: 2rem;
    background: url("../img/blue-quotes02.png") no-repeat;
    background-size: 10%;

    div {
    	&:nth-child(2) {
    		margin-top: $space-x-small;
    	}
    }
}
