.grid-quotes {
    padding: 2rem;
    background-size: 10%;

    div {
    	&:nth-child(2) {
    		margin-top: $space-x-small;
    	}
    }
}

.grid-quotes--center {
    text-align: center;
}

.grid-quotes__avatar {
    margin: $space-x-small;
}

.grid-quotes--text-medium {
    font-size: $text-medium;
}

.grid-quotes__author-job {
    font-weight: 800;
    color: $light-blue;
    font-size: $text-small;
    letter-spacing: 1px;
}

.employability__quotes .grid-quotes--center {
    text-align: left;
}