.view-global-search {
    border-bottom: 2px solid $lighter-gray;
    padding: 10px 16px;

    @include mquery("small") {
        margin: 0 auto;
        width: 90%;
    }
    @include mquery("large") {
        max-width: 1200px;
    }
    li {
        display: inline-block;
        list-style: none;
    }
    .comment-add {
        padding: 0 10px;
    }
    .submitted {
        display: none;
    }
    .item-list {
        width: 55%;
        margin: 0 auto;
        @include mquery("small") {
            width: 37%;
        }
        @include mquery("large") {
            width: 19%;
        }
    }
}
