.panel-cetav-submission {
  height: 100%;
  width: 100%;
  text-align: center;

  h2 {
    @include font-size(80);
    color: #fff;
  }

  p {
    color: $white;
    border: 1px solid $white;
    padding: 15px 0;

    @include mquery("medium") {
      margin: 10px auto;
      width: 50%;
    }
  }

  .submission-message {
    background-color: #00c9ed;
  }
}
