.node-equipo {
    overflow: hidden;
    padding: 40px 0;

    @include mquery("medium") {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    @include mquery("large") {
        padding-bottom: 100px;
        padding-top: 100px;
    }
}

.team-detail-h {
    margin: 0;
}

.profile-image-team {
    img {
        max-width: none;
    }
}
