.employability__videos--spacing-top {
    margin-top: $space-x-small;
}

.employability__videos--opacity {
    opacity: 0;
}


.employability__vimeo-link {
    text-align: center;
    width: 100%  
}

.employability__container-videos {
    position: relative;
}