html {
    background: #292929;
    box-sizing: border-box;
    font-size: $text-base ;

    @include mquery("large") {
        font-size: 1.125em;
    }
}

body {
    background: #292929;
    box-sizing: border-box;
    font-family: $default-font;
    color: #464646;
    line-height: 1.45;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
