html {
    background: #292929;
    box-sizing: border-box;
    font-size: $text-base ;

    @include mquery("large") {
        font-size: 1.125em;
    }
}

body {
    background: #292929;
    box-sizing: border-box;
    font-family: $default-font;
    color: #464646;
    line-height: 1.45;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
