body {
    @include font-size(14);
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: $default-font;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.title {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
