h1,
h2,
h3,
h4 {
    font-family: $contrast-font;
    line-height: 1.2;
    margin: 0 0 .5em;
}

h1 {
    font-size: $text-h1;
}

h2 {
    color: $main-color;
    font-size: $text-h2;
}

h3 {
    font-size: $text-h3;
}

h4 {
    font-size: $text-h4;
}
