dl,
ol,
p,
ul {
    margin: 0 0 1.3em;
}

ol,
ul {
    padding: 0;
}

p {

}

cite {
    &:before {
        content: "\2014 \2009";
    }
}

li {
    margin-bottom: .4em
}

strong {
    color: $main-color;
}

blockquote {
    border-left: 5px solid $main-color;
    margin: 10px;
    padding: 10px;
    quotes: "“" "”" "‘" "’";

    p {
        display: inline-block;

        &:before {
            color: #ccc;
            content: open-quote;
            line-height: 0;
            margin-right: 5px;
            vertical-align: -15px;
        }
        &:after {
            color: #ccc;
            content: close-quote;
            margin-left: 5px;
            vertical-align: -15px;
        }
    }
}

.call-out { // intro type
    font-size: 1.44em;
}

.contrast-small-text {
    font-size: .833em;
}

small, 
.small-text {
    font-size: .694em;
}

.title {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
