dl,
ol,
p,
ul {
    margin: 0 0 .5em;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

p {
    @include font-size(16);
    color: $ligth-gray;
    font-family: $default-font;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
}

em {
    color: $gray;
}

cite {
    color: $gray;

    &:before {
        content: "\2014 \2009";
    }
}

li {
    @include font-size(15);
    line-height: 1.2;
    vertical-align: top;
}

strong {
    color: $main-color;
}

blockquote {
  border-left: 5px solid $main-color;
  margin: 10px;
  padding: 10px;
  quotes: "“" "”" "‘" "’";

  p {
    display: inline-block;

    &:before {
        @include font-size(35);
        color: #ccc;
        content: open-quote;
        line-height: 0;
        margin-right: 5px;
        vertical-align: -15px;
    }
    &:after {
        @include font-size(35);
        color: #ccc;
        content: close-quote;
        margin-left: 5px;
        vertical-align: -15px;
    }
  }
}

.center-wrapper .panel-left-column .contextual-links-region h2 {
    color: $orange;
    display: block;
    font-family: $contrast-font;
    line-height: 1.2;
    margin-top: 15px;
    text-align: left;
    width: 50%;
    /* Custom, iPhone Retina */ 
    @media (min-width : 320px) {
        @include font-size(24);
    }
    /* Extra Small Devices, Phones */ 
    @media ( min-width : 600px ) {
        @include font-size(28);
    }
    /* Small Devices, Tablets */
    @media ( min-width: 900px ) {
        @include font-size(30);
    }
    /* Medium Devices, Desktops */
    @media ( min-width: 1100px ) {
        @include font-size(36);
    }
}

.center-wrapper .panel-left-column .free-courses h2 {
    color: $light-blue;
    font-family: $contrast-font;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    /* Medium Devices, Desktops */
    @media ( min-width : 1100px ) {
        text-align: left;
    }
}

.center-wrapper .panel-right-column .field-name-field-descripcion p {
    @include font-size(16);
    font-family: $default-font;
    margin: 0;
}
