dl,
ol,
p,
ul {
    margin: 0 0 1.3em;
}

ol,
ul {
    padding: 0;
}

p {

}

cite {
    &:before {
        content: "\2014 \2009";
    }
}

li {
    margin-bottom: .4em
}

strong {
    color: $black;
}

blockquote {
    quotes: "“" "”" "‘" "’";
}

.call-out-text { // intro type
    font-size: $text-large;
}

.contrast-small-text {
    font-size: $text-small;
}

.section-call-out-h {
    margin: 0;
}

small,
.small-text {
    font-size: $text-xsmall;
}

.section-sh {
    color: $black;
    margin-bottom: 1em;
    margin-top: 0;
    position: relative;

    &:after {
        background-color: $black;
        bottom: -10px;
        content: "";
        height: 4px;
        left: 0;
        position: absolute;
        width: 60px;
    }
}

.slab-blue {
   .section-sh:after {
        background-color: $white;
    }
}

.subtitle-career {
    margin-top: 0;
}
