// Bibliotecas
@import "bourbon";
@import "neat";

//Utils
@import "partials/utils/variables";
@import "partials/utils/functions";
@import "partials/utils/mixins";
@import "partials/utils/placeholders";

//Base
@import "partials/base/base";
@import "partials/base/type";
@import "partials/base/headings";

//Patterns
@import "partials/patterns/links";
@import "partials/patterns/list";
@import "partials/patterns/buttons";
@import "partials/patterns/multi-media";
@import "partials/patterns/cetav-icons";

//Forms
@import "partials/patterns/forms/forms-drupal";
@import "partials/patterns/forms/webforms";
@import "partials/patterns/forms/login";
@import "partials/components/institution";
@import "partials/components/graduate-form";


//Layout
@import "partials/layout/layout";

//Third Party
@import "partials/third-party/system/drupal";
@import "partials/third-party/widgets/typed-widget";

//Components
@import "partials/components/careers";
@import "partials/components/courses";
@import "partials/components/admission";
@import "partials/components/institution";
@import "partials/components/news";
@import "partials/components/news-node";
@import "partials/components/preview-course";
@import "partials/components/graduate-profile";
@import "partials/components/footer";
@import "partials/components/search";
@import "partials/components/hero-images";
@import "partials/components/home-aliados";
@import "partials/components/home-call-out";
@import "partials/components/home-courses";
@import "partials/components/home-hero";
@import "partials/components/home-techs-intro";
@import "partials/components/preview-graduates";
@import "partials/components/generations";
