// Bibliotecas
@import "bourbon";
@import "neat";

//Utils
@import "partials/utils/variables";
@import "partials/utils/functions";
@import "partials/utils/mixins";
@import "partials/utils/placeholders";

//Base
@import "partials/base/base";
@import "partials/base/type";
@import "partials/base/headings";

//Patterns
@import "partials/patterns/links";
@import "partials/patterns/list";
@import "partials/patterns/buttons";
@import "partials/patterns/tables";
@import "partials/patterns/multi-media";
@import "partials/patterns/cetav-icons";

//Forms
@import "partials/patterns/forms/forms-drupal";
@import "partials/patterns/forms/webforms";
@import "partials/patterns/forms/login";


//Layout
@import "partials/layout/layout";

//Third Party
@import "partials/third-party/system/drupal";

//Components
@import "partials/components/careers";
@import "partials/components/courses";
@import "partials/components/admission";
@import "partials/components/institution";
@import "partials/components/news";
@import "partials/components/news-node";
@import "partials/components/preview-course";
@import "partials/components/graduate-profile";
@import "partials/components/footer";
@import "partials/components/search";
@import "partials/components/generations";

