//
// Variables
//

// Sprite
$sprite-image: "../images/global-sprite";

// Typography
@import url(https://fonts.googleapis.com/css?family=Montserrat),
url(https://fonts.googleapis.com/css?family=Open+Sans);

$contrast-font:"Montserrat", Arial, Verdana, sans-serif; //Typography for titles
$default-font: "Open Sans", Arial, Verdana, sans-serif; //Typography for body

// Colors

// Main Colors in CETAV's Brand book
$dark-gray: #414042;
$dark-green: #5d5e5a;
$dark-orange: #dc661e;
$dark-red: #9e280e;
$gray: #77787b;
$ligth-gray: #9d9fa2;
$orange: #f19130;


// Colors
$animation-color: $dark-orange;
$blue-dark: #243842;
$ddw-color: $dark-red;
$forms-back-colors: #ECECEC;
$light-blue: #00c9ed;
$main-color: $orange;
$orange-light: #fab853;
$post-color: $dark-green;
$white: #fff;

// Neat variables
$grid-colums: 12;
$max-width: 1200px;

// Breakpoints
// TL;DR, ems don't depend on the physical device size, whereas pixels do.
// http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
// http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/#relative
$site-breakpoints: (
    "base": "20em", //320px
    "small": "37.5em", //600px
    "medium": "56.25em", //900px
    "large": "68.75em", //1100px
    "x-large": "87.5em", //1400px
);
