//
// Variables
//

// Sprite
$sprite-image: "../images/global-sprite";

// Typography


// Colors


// Neat variables
$max-width: 1200px;
$grid-colums: 12;

// Breakpoints
// TL;DR, ems don't depend on the physical device size, whereas pixels do.
// http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/
// http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/#relative
$site-breakpoints: (
    "base": "20em", //320px
    "small": "37.5em", //600px
    "medium": "56.25em", //900px
    "large": "68.75em", //1100px
    "x-large": "87.5em", //1400px
);
