// Generals etiquets styles
.sub-titles {
	padding-bottom: 5%;
  	text-align: center;

  @include mquery("small") {
		padding-bottom: 0;
	}
}

.titles {
  color: black;
	font-family: $contrast-font;
	font-size: $text-h3;
	font-weight: bolder;
	margin-bottom: 0;
	padding-top: 10%;
	// text-align: center;

  @include mquery("small") {
		padding-top: 50px;
	}
}

.triada-logo,
.cetav-logo,
.pll-logo {
	display: none;
}
