// colors
$color-career_animacion: #dc651e;
$color-career_web: #9e280d;
$color-career_post: #819534;
$color-career_dic: #3a7d91;

$color-primary: #292929;
$color-secondary: #f19130;

$color-btn_notices: #fed604;

// breackpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 320px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
