.background-account {
    background-color: #f4f4f4;
    height: 100vh;
}

.container-account {
    width: 340px;
    margin: 0 auto;
    padding: 50px 0 0;

    form{
        padding: 15px;
    }

    .container-account-title{
        background-color:$orange;
        padding: 18px;
        color: $white;
        text-align: center;
        position: relative;

        &:after{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 23px 20.5px 0 20.5px;
            border-color: $orange transparent transparent transparent;
            position: absolute;
            top: 53px;
            left: 148px;
        }
    }

    .middle-part {
        box-shadow:0px 0px 4px #c2bebe;
        background-color: $white;
        padding-bottom: 15px;
        position: relative;
        overflow: hidden;
    }

    .form-item {
        margin-top: 10px;
        font-family: $contrast-font;
        color: $dark-gray;
    }

    .form-required {
        color: $dark-orange;
    }
}

.bottom-part{
    padding: 0 15px;

    .password-link {
        @include font-size(12);
        @include span-columns(6);
        @include omega();
    }

    .register-link{
        @include font-size(12);
        float: right;
    }

    .login-link {
        @include font-size(12);
        @include span-columns(6);
        @include omega();
    }

    .password-float {
        float: right;
    }
}

