footer {
    background: #292929;
    border-top: 5px solid #000;
    overflow: hidden;
    padding: 40px 0;

    @include mquery("medium") {
        border-top-width: 15px;
        padding-top: 80px;
    }
    
    .contact-info {
        margin-bottom: 25px;

        @include mquery("medium") {
            float: left;
            width: 25%;
        }
    }

    .grid-width {
        width: 96%;
        max-width: $grid-limit;
    }
}

.grid-width {
    @include micro-clearfix;
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 2%;
    position: relative;
}

.grid-full-limit {
    max-width: $grid-limit;
}

.header {
    background: $white;
}

.heading,
.main-content .heading {
    border-bottom: 1px solid $lighter-gray;
    margin-bottom: 4em;
    padding-bottom: 1em;
    width: 100%;
}

.layout-semibreve { // limita el ancho de las secciones con contendio
    @include mquery("medium") {
        max-width: 75%;
    }
}

.layout-minim {
    li {
        @include span-columns(6);
        margin-bottom: 2%;
    }
    .views-row-even {
        @include omega();
    }
}


.layout-minor,
.main-content .layout-minor {
    @include span-columns(4);
    float: left;
}

.layout-medium,
.main-content .layout-medium {
    @include span-columns(7);
    float: right;
}

.layout-small {
    @include mquery ("medium") {
        @include span-columns(3);
    }
}

.layout-x-large {
    @include mquery ("medium") {
        @include span-columns(9);
    }
}

.noticias-section .layout-large {
    @include span-columns(8);
    float: left;
}

.noticias-section .layout-minor {
    @include span-columns(4);
    float: left;
}

.main-content {
    @include micro-clearfix;
    background: $white;
}

.section-wide {
    overflow: hidden;
    padding: $space-base $space-x-small;

    @include mquery("medium") {
        padding-bottom: $space-medium;
        padding-top: $space-medium;
    }

    @include mquery("large") {
        padding-bottom: $space-x-large;
        padding-top: $space-large;
    }
}

.section-no-padding {
    padding: 0;
}

.head-nav { // aqui para sobre escribir cascada
    overflow: visible;
}

.section-intro {
    padding-bottom: 0;
}

.layout-breve {
    & + & {
        padding-top: 0;
    }

    .section-call-out-h {
        color: $white;
    }
}

.slab-dark-blue {
    background-color: $blue-darker;
    color: $white;
}

.slab-blue {
    background: $blue-dark;
    color: $white;
}

.slab-cta {
    padding: 2em 0;
}

.slab-orange {
    background: $orange;
}

.slab-light-blue {
    background: $light-blue;
    color: $white;
}

.slab-gray {
    background-color: $lighter-gray;
    background-color: rgba($lighter-gray, .5);
}

.panel-left-column,
.panel-right-column {
    @include mquery("large") {
        @include span-columns(6);
        display: inline-block;
    }
}

.grid-quotes,
.grid-employers-list {
    @include span-columns(12);

    @include mquery("small") {
        @include span-columns(6);
        @include omega();
    }

    @include mquery("medium") {
        @include span-columns(4);
    }
}

.grid-employers-list {
    text-align: center;
}

.pane-bundle-steps-admision {
    @include outer-container;

    .paragraphs-item-steps {
        @include span-columns(12);

        @include mquery("small") {
            @include span-columns(6);
            @include omega();
        }
        @include mquery("medium") {
            @include span-columns(4);
        }
    }
}

.panel-header {
    max-height: 350px;
    overflow: hidden;
    padding: 0;
}