//
// General layout rules
//
.grid-width {
    margin: 0 auto;
    max-width: $max-width;
}

.center-wrapper {
    @include outer-container;
    clear: both;
    overflow: hidden;
    padding: 40px 16px;
}

.panel-left-column,
.panel-right-column {
    @include span-columns(12);
    display: block;

    @include mquery("large") {
        @include span-columns(6);
        display: inline-block;
    }
}

.pane-bundle-steps-admision {
    @include outer-container;

    .paragraphs-item-steps {
        @include span-columns(12);

        @include mquery("small") {
            @include span-columns(6);
            @include omega();
        }
        @include mquery("medium") {
            @include span-columns(4);
            @include omega();
        }
    }
}

.panel-header {
    padding: 0;
}
